<div class="container fadeIn">
  <div class="row">
    <div class="col-sm-6 d-flex justify-content-center align-items-center" style="height: 85vh; opacity: 0.9;">
      <div class="card bg-black text-white text-center" style="width: auto;">
        <h2 class="mt-4">Data Import</h2>
        <hr class="bg-white">
        <div class="card-body">
          <%= form_for @file, html: { multipart: true } do |f| %>
            <label class="text-white">Please select the type of import..</label><br/>
            <div class="text-start">
              <label class="text-white"><%= radio_button_tag 'seed', "srecords", checked = true %> Software Records</label><br/>
              <label class="text-white"><%= radio_button_tag 'seed', "vrecords" %> Vendor Records</label><br/>
              <label class="text-white"><%= radio_button_tag 'seed', "stypes" %> Software Types</label><br/>
              <label class="text-white"><%= radio_button_tag 'seed', "status" %> Status</label><br/>
              <label class="text-white"><%= radio_button_tag 'seed', "hosting_env" %> Hosting Environments</label><br/><br/>
            </div>
            <div class="text-start">
              <%= f.label :attachment, class: "text-white" %>
              <i style="font-size: 11px; color: #CCCCCC;">(only '.csv' files)</i><br/>
            </div>
            <%= f.file_field :attachment, accept: 'text/csv', class: "btn btn-light" %><br/><br/>
            <%= f.submit "Import Data", class: "btn btn-success" %>
            <%= link_to 'Cancel', session[:previous], class: "btn btn-danger" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-sm-6 d-flex justify-content-center align-items-center" style="height: 85vh; opacity: 0.9;">
      <div class="card mt-5 bg-black text-white text-center" style="width: auto;">
        <h1>Import Result(s)</h1>
        <hr class="bg-white">
        <%= text_area "output", "body", cols: 53, rows: 20, value: $output, style: 'font-size: 14px;' %>
      </div>
    </div>
  </div>
</div>

