<section class="text-center py-5">
  <div class="container">
    <h1 class="display-4" style="color: black; font-family: Courier New, Lucida, Console">Change Requests</h1>
    <em style="font-size: 14px; color: black">Contains list of all change requests</em><br/><br/>
    <% if current_user.role.to_s == "root_admin" or current_user.role.to_s == "manager" or current_user.role.to_s == "owner" %>
      <p>
        <%= link_to 'Create a new change request', new_change_request_path, class: "mx-auto new-record btn btn-dark" %>
      </p>
    <% end %>
  </div>
</section>
<hr style="background-color: black; width: 54%;">

<% if @change_request_counts != 0 %>
  <div class="container" style="margin-bottom: 10rem;">
    <div class="row">
      <table class="table table-bordered text-center">
        <thead class="table-light">
          <tr>
            <th class="text-start ps-5" style="background-color: black ; color: white">Completed</th>
            <th class="text-start ps-5" style="background-color: black ; color: white">Date Submitted</th>
            <th class="text-start ps-5" style="background-color: black ; color: white">Change Requests</th>
            <th class="text-start ps-5" style="background-color: black ; color: white">Change Description</th>
            <th class="text-start ps-5" style="background-color: black ; color: white">System Affected</th>
            <th class="text-start ps-5" style="background-color: black ; color: white">Version</th>
            <th class="text-start ps-5" style="background-color: black ; color: white">Tech Lead</th>

            <% if current_user.role.to_s == "viewer" %>
              <th style="background-color: black ; color: white">Actions</th>
            <% elsif current_user.role.to_s == "owner" or current_user.role.to_s == "manager" %>
              <th colspan="2" style="background-color: black ; color: white">Actions</th>
            <% else %>
              <th colspan="3" style="background-color: black ; color: white">Actions</th>
            <% end %>
          </tr>
        </thead>

        <tbody>
          <% @change_requests.each do |change_request| %>
            <tr>
              <td class="text-start ps-5" style="background-color: black ; color: white"><%= convert_completed(change_request.change_completed) %></td>
              <td class="text-start ps-5" style="background-color: black ; color: white"><%= change_request.change_submitted_date %></td>
              <td class="text-start ps-5" style="background-color: black ; color: white"><%= change_request.change_title %></td>
              <td class="text-start ps-5" style="background-color: black ; color: white"><%= change_request.change_description %></td>
              <td class="text-start ps-5" style="background-color: black ; color: white"><%= find_software_name(change_request.software_record_id) %></td>
              <td class="text-start ps-5" style="background-color: black ; color: white"><%= find_software_version(change_request.software_record_id) %></td>
              <td class="text-start ps-5" style="background-color: black ; color: white"><% find_tech_leads(change_request.software_record_id).each do |a| %><li><%= a %></li><% end %></td>
              
              <% if current_user.role.to_s == "viewer" %>
                <td style="background-color: black ; color: white"><%= link_to 'View', change_request, class: "btn btn-success" %></td>
              <% elsif current_user.role.to_s == "owner" or current_user.role.to_s == "manager" %>
                <td style="background-color: black ; color: white"><%= link_to 'View', change_request, class: "btn btn-success" %></td>
                <td style="background-color: black ; color: white"><%= link_to 'Edit', edit_change_request_path(change_request), class: "btn btn-primary" %></td>
              <% else %>
                <td style="background-color: black ; color: white"><%= link_to 'View', change_request, class: "btn btn-success" %></td>
                <td style="background-color: black ; color: white"><%= link_to 'Edit', edit_change_request_path(change_request), class: "btn btn-primary" %></td>
                <td style="background-color: black ; color: white"><%= link_to 'Delete', change_request, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% else %>
  <h3 class="text-center">No records found</h3>
<% end %>

