<div class = "container-block mt-5" style="margin-left: 150px; margin-right: 150px;">
  <div class="card-deck mb-3 text-center design-data" style="color: black;">
    <div class="card mb-4 box-shadow animated fadeInLeft" style="width: 33.33%; height: 500px;">
      <div class="card-header">
        <h3 class="my-0 font-weight-normal text-capitalize design-title">My Apps In Development <i class="fa fa-wrench"></i></h3>
      </div>
      <div class="card-body" style="overflow: scroll; height: 10%">
        <% if @indesign_count != 0 %>
          <table class="table text-center w-25">
            <thead>
              <tr>
                <th><%= sortable "title", "Software Record" %> 
                <% if params[:direction] == "asc" || params[:direction] == nil %> 
                  <i class="fa fa-caret-up"></i>
                <% else %>
                  <i class="fa fa-caret-down float-none"></i>
                <% end %></th>
                <th><%= sortable "vendor_record_id", "Vendor" %> 
                <% if params[:direction] == "asc" || params[:direction] == nil %> 
                  <i class="fa fa-caret-up"></i>
                <% else %>
                  <i class="fa fa-caret-down float-none"></i>
                <% end %></th>
                <th><%= sortable "current_version", "Current Version" %> 
                <% if params[:direction] == "asc" || params[:direction] == nil %> 
                  <i class="fa fa-caret-up"></i>
                <% else %>
                  <i class="fa fa-caret-down float-none"></i>
                <% end %></th>
                <th>Status</th>
                <th><%= sortable "production_url", "URL" %> 
                <% if params[:direction] == "asc" || params[:direction] == nil %> 
                  <i class="fa fa-caret-up"></i>
                <% else %>
                  <i class="fa fa-caret-down float-none"></i>
                <% end %></th>
                <% if current_user.role.to_s == "viewer" %>
                  <th>Action</th>
                <% elsif current_user.role.to_s == "owner" %>
                  <th colspan="2">Actions</th>
                <% else %>
                  <th colspan="3">Actions</th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% @softwarerecords_indesign.each do |record_indesign| %>
                <tr>
                  <td class="align-left" style="padding-left: 20px"><%= record_indesign.title %></td>
                  <td class="align-left" style="padding-left: 20px"><%= VendorRecord.find(record_indesign.vendor_record_id).title %></td>
                  <td class="align-left" style="padding-left: 20px"><% if record_indesign.current_version.to_s.empty? %>N/A<% else %><%= record_indesign.current_version %><% end %></td>
                  <td class="align-left" style="padding-left: 20px"><%= record_indesign.status %></td>
                  <td style="table-layout:fixed; width: 300px; word-break:break-all;" class="align-left">
                    <% if record_indesign.production_url.to_s.empty? %>
                      -
                    <% else %>
                      <a href=<%= generate_path(record_indesign.production_url) %> target="_blank"><%= clean_url(record_indesign.production_url) %></a>
                    <% end %>
                  </td>
                  <% if current_user.role.to_s == "viewer" %>
                    <td style="padding: 6px 3px 6px 3px;"><%= link_to 'View', record_indesign , { :class => "btn btn-success btn-icons", title: "View" }%></td>
                  <% elsif current_user.role.to_s == "owner" %>
                    <td style="padding: 6px 3px 6px 3px;"><%= link_to 'View', record_indesign , { :class => "btn btn-success btn-icons", title: "View" }%></td>
                    <td style="padding: 6px 3px 6px 3px;"><%= link_to 'Edit', edit_software_record_path(record_indesign) , { :class => "btn btn-primary btn-icons", title: "Edit" }%></td>
                  <% else %>
                    <td style="padding: 6px 3px 6px 3px;"><%= link_to 'View', record_indesign , { :class => "btn btn-success btn-icons", title: "View" }%></td>
                    <td style="padding: 6px 3px 6px 3px;"><%= link_to 'Edit', edit_software_record_path(record_indesign) , { :class => "btn btn-primary btn-icons", title: "Edit" }%></td>
                    <td style="padding: 6px 3px 6px 3px;"><%= link_to 'Delete', record_indesign, method: :delete, :class => "btn btn-danger btn-icons", data: { confirm: 'Are you sure?' }, title: "Delete" %></td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <p>No Apps found 'Development'.</p>
        <% end %>
        <br/>
      </div>
    </div>
  </div>
  <div class="card-deck mb-3 text-center prod-data" style="color: black;">
    <div class="card mb-4 box-shadow animated fadeInRight" style="width: 33.33%; height: 500px;">
      <div class="card-header">
        <h3 class="my-0 font-weight-normal text-camelcase prod-title">My Apps In Production <i class="fa fa-bolt"></i></h3>
      </div>
      <div class="card-body" style="overflow: scroll; height: 10%">
        <% if @production_count != 0 %>
        <table class="table text-center">
          <thead>
            <tr>
              <th><%= sortable "title", "Software Record" %> 
                <% if params[:direction] == "asc" || params[:direction] == nil %> 
                  <i class="fa fa-caret-up"></i>
                <% else %>
                  <i class="fa fa-caret-down float-none"></i>
                <% end %></th>
              <th><%= sortable "vendor_record_id", "Vendor" %> 
                <% if params[:direction] == "asc" || params[:direction] == nil %> 
                  <i class="fa fa-caret-up"></i>
                <% else %>
                  <i class="fa fa-caret-down float-none"></i>
                <% end %></th>
              <th><%= sortable "current_version", "Current Version" %> 
                <% if params[:direction] == "asc" || params[:direction] == nil %> 
                  <i class="fa fa-caret-up"></i>
                <% else %>
                  <i class="fa fa-caret-down float-none"></i>
                <% end %></th>
              <th><%= sortable "production_url", "URL" %> 
                <% if params[:direction] == "asc" || params[:direction] == nil %> 
                  <i class="fa fa-caret-up"></i>
                <% else %>
                  <i class="fa fa-caret-down float-none"></i>
                <% end %></th>
              <% if current_user.role.to_s == "viewer" %>
                  <th>Action</th>
                <% elsif current_user.role.to_s == "owner" %>
                  <th colspan="2">Actions</th>
                <% else %>
                  <th colspan="3">Actions</th>
                <% end %>
            </tr>
          </thead>

          <tbody>
            <% @softwarerecords_production.each do |record_production| %>
              <tr>
                <td class="align-left" style="padding-left: 20px"><%= record_production.title %></td>
                <td class="align-left" style="padding-left: 20px"><%= VendorRecord.find(record_production.vendor_record_id).title %></td>
                <td class="align-left" style="padding-left: 20px"><% if record_production.current_version.to_s.empty? %>N/A<% else %><%= record_production.current_version %><% end %></td>
                <td class="align-left" style="table-layout:fixed; width: 300px; word-break:break-all;">
                    <% if record_production.production_url.to_s.empty? %>
                      No URL
                    <% else %>
                      <a class="align-left" href=<%= generate_path(record_production.production_url) %> target="_blank" ><%= clean_url(record_production.production_url) %></a>
                    <% end %>
                  </td>
                <% if current_user.role.to_s == "viewer" %>
                    <td style="padding: 6px 3px 6px 3px;"><%= link_to 'View', record_production , { :class => "btn btn-success btn-icons", title: "View" }%></td>
                  <% elsif current_user.role.to_s == "owner" %>
                    <td style="padding: 6px 3px 6px 3px;"><%= link_to 'View', record_production , { :class => "btn btn-success btn-icons", title: "View" }%></td>
                    <td style="padding: 6px 3px 6px 3px;"><%= link_to 'Edit', edit_software_record_path(record_production) , { :class => "text-primary btn-icons", title: "Edit" }%></td>
                  <% else %>
                    <td style="padding: 6px 3px 6px 3px;"><%= link_to 'View', record_production , { :class => "btn btn-success btn-icons", title: "View" }%></td>
                    <td style="padding: 6px 3px 6px 3px;"><%= link_to 'Edit', edit_software_record_path(record_production) , { :class => "btn btn-primary btn-icons", title: "Edit" }%></td>
                    <td style="padding: 6px 3px 6px 3px;"><%= link_to 'Delete', record_production, method: :delete, :class => "btn btn-danger btn-icons", title: "Delete", data: { confirm: 'Are you sure?' } %></td>
                  <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
        <% else %>
          <p>No Apps found In 'Production'.</p>
        <% end %>
        <br/>
      </div>
    </div>
  </div>
  <br/>
  <div class="card-deck mb-3 text-center" style="color: black;">
    <div class="card mb-4 box-shadow animated fadeInLeft" style="width: 33.33%; height: auto;">
      <div class="card-header">
        <h3 class="my-0 font-weight-normal text-uppercase">Users</h3>
      </div>
      <div class="card-body">
        <%= pie_chart User.group(:roles).count, messages: {empty: "No data"}, download: {filename: "Users"}, dataset: {borderWidth: 3, borderColor: "transparent"}, colors: ["#0DE1E8", "#E8880D", "#E8DE0D"], legend: "bottom"%><br/>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary" onclick = "location.href='users'">View</button>
      </div>
    </div>
    <div class="card mb-4 box-shadow animated fadeInRight" style="width: 33.33%; height: auto">
      <div class="card-header">
        <h3 class="my-0 font-weight-normal text-uppercase">Software Records</h3>
      </div>
      <div class="card-body">
        <%= pie_chart SoftwareRecord.group(:status).count, messages: {empty: "No data"}, download: {filename: "SoftwareRecords"}, dataset: {borderWidth: 3, borderColor: "transparent"}, legend: "bottom" %><br/>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary" onclick = "location.href='software_records'">View</button>
      </div>
    </div>
    <div class="card mb-4 box-shadow animated fadeInUp" style="width: 33.33%; height: auto">
      <div class="card-header">
        <h3 class="my-0 font-weight-normal text-uppercase">Vendor Records</h3>
      </div>
      <div class="card-body">
        <%= pie_chart @vendor_piechart_hash, messages: {empty: "No data"}, download: {filename: "Software Records grouped by Vendor Records"}, dataset: {borderWidth: 3, borderColor: "transparent"}, legend: {position: "none"} %><br/>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary" onclick = "location.href='vendor_records'">View</button>
      </div>
    </div>
  </div>
  <br/>
  <div class="card-deck mb-3 text-center" style="color: black">
    <div class="card mb-4 box-shadow animated fadeInDown" style="width: 50.33%; height: auto">
      <div class="card-header">
        <h3 class="my-0 font-weight-normal text-uppercase">Software Records</h3>
      </div>
      <div class="card-body">
        <%= line_chart SoftwareRecord.all.collect{|i| [i[:created_at],i[:count]]}, legend: "bottom" %> <br/>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary" onclick = "location.href='software_records'">View</button>
      </div>
    </div>
  </div>
</div>