<div class="container animated fadeIn" style="opacity: 0.8">
  <div class = "card-detail" style = "background-color: black; width: 100%;"><br/>
    <h1 class= "text-center" style="color: white;">Request Software Record</h1>
    <p style="font-size: 12px; float: right; margin-right: 30px; margin-bottom: 0px !important"><b style="color: red; font-size: 20px">*</b> indicates a required field</p><br>
    <hr style="background-color: white">
    <div class = "card-body">
        <%= form_for(SoftwareRecord.new) do |form| %>
          
          <div class="form-group">
            <%= form.label :title %><b style="color: red; font-size: 20px"> *</b>
            <%= form.text_field :title, :class => "form-control" %>
          </div>
          
          <div class="form-group">
            <%= form.label :description %><b style="color: red; font-size: 20px"> *</b>
            <%= form.text_area :description, :cols => 30, :rows => 7, :class => "form-control" %>
          </div>
          
          <div class="form-group">
            <%= form.label :status %><b style="color: red; font-size: 20px"> *</b>
            <%= form.select :status, options_for_select(['Requested'], :selected=>"Requested"), {}, {:class => "form-control"} %>
          </div>

          <% if user_signed_in? && current_user.role.to_s == "owner" %>
            <div class="form-group">
              <%= form.label :date_implemented %>
              <%= form.date_field :date_implemented, as: :date, value: form.object.try(:strftime,"%m/%d/%Y"), class: 'form-control' %>
            </div>
          <% end %>

          <% if user_signed_in? && current_user.role.to_s == "owner" %>
            <div class="form-group">
              <%= form.label :date_of_upgrade %>
              <%= form.date_field :date_of_upgrade, as: :date, value: form.object.try(:strftime,"%m/%d/%Y"), class: 'form-control' %>
            </div>
          <% end %>

          <div class="form-group">
            <%= form.label "Request By" %><b style="color: red; font-size: 20px"> *</b>
            <% if user_signed_in? %>
              <%= form.text_field :created_by, :class => "form-control regex-createdby", value: current_user.first_name+" "+current_user.last_name %>
            <% else %>
              <%= form.text_field :created_by, :class => "form-control regex-createdby", placeholder: "FirstName LastName" %>
            <% end %>
          </div>

          <div class="form-group">
            <%= form.label "Software Type" %><b style="color: red; font-size: 20px"> *</b>
            <%= form.collection_select(:software_type_id, SoftwareType.order(:title), :id, :title, {}, {:class => "form-control"}) %>
          </div>
          
          <div class="form-group" style="display: none">
            <%= form.label "Vendor" %><b style="color: red; font-size: 20px"> *</b>
            <select class="form-control" name="software_record[vendor_record_id]" id="software_record_vendor_record_id">
              <option value=1>University of Cincinnati</option>
            </select>
          </div>

          <div class="form-group" id="multiple_departments">
              <%= form.label :departments %> <a class="float-right text-primary anchor-underline" id="btnAddDepartments">+ add more</a>
            <div class="input-group" id="departments1">
              <%= text_field_tag "software_record[departments][]", nil, required: true, class: "form-control" %>
              <div class="input-group-append" id="btnRemove" onclick = "remove('departments1')">
                <span class="input-group-text"><i class="fas fa-minus remove">  Delete</i></span>
              </div>
            </div>
          </div>

          <div class="form-group" id="multiple_product_owners">
              <%= form.label "Primary Contact" %> <a class="float-right text-primary anchor-underline" id="btnAddProductOwners">+ add more</a>
            <div class="input-group" id="product_owners1">
              <%= text_field_tag "software_record[product_owners][]", nil, required: true, class: "form-control" %>
              <div class="input-group-append" id="btnRemove" onclick = "remove('product_owners1')">
                <span class="input-group-text"><i class="fas fa-minus remove">  Delete</i></span>
              </div>
            </div>
          </div>

          <% if user_signed_in? && current_user.role.to_s == "owner" %>
            <div class="form-group">
              <%= form.label :production_url %>
              <%= form.text_field :production_url, :class => "form-control" %>
            </div>
          <% end %>

          <% if user_signed_in? && current_user.role.to_s == "owner" %>
            <div class="form-group">
              <%= form.label :user_seats %>
              <%= form.text_field :user_seats, :class => "form-control" %>
            </div>
          <% end %>

          <% if user_signed_in? && current_user.role.to_s == "owner" %>
            <div class="form-group">
              <%= form.label :annual_fees %>
              <%= form.text_field :annual_fees, :class => "form-control" %>
            </div>
          <% end %>

          <% if user_signed_in? && current_user.role.to_s == "owner" %>
            <div class="form-group">
              <%= form.label :support_contract %><br/>
              <%= form.label :support_contract, "Yes", :value => "Yes"  %>
              <%= form.radio_button :support_contract, "Yes" %>
              <%= form.label :support_contract, "No", :value => "No" %>
              <%= form.radio_button :support_contract, "No", :checked => true %>
            </div>
          <% end %>

          <% if user_signed_in? && current_user.role.to_s == "owner" %>
            <div class="form-group">
              <%= form.label :hosting_environment %>
              <%= form.text_field :hosting_environment, :class => "form-control" %>
            </div>
          <% end %>

          <% if user_signed_in? && current_user.role.to_s == "owner" %>
            <div class="form-group">
              <%= form.label :current_version %>
              <%= form.text_field :current_version, :class => "form-control" %>
            </div>
          <% end %>

          <div class="form-group">
            <%= form.label :notes %>
            <%= form.text_area :notes, :cols => 30, :rows => 7, :class => "form-control" %>
          </div>

          <% if user_signed_in? && current_user.role.to_s == "owner" %>
            <div class="form-group">
              <%= form.label :business_value %>
              <%= form.text_field :business_value, :class => "form-control" %>
            </div>
          <% end %>
        <br/>
        
        <div class="captcha" style="width: 30%; margin: 0 auto;">
          <%= recaptcha_tags %>
        </div>
        
        <br/>
        <div class="form-group" style= "text-align: center;">
          <%= form.submit nil, class: "btn btn-primary" %>
          <%= link_to 'Cancel', session[:previous], :class => "btn btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>
  <br/>
  <br/>
  <br/>
</div>