<div class = "container animated pulse" style="margin-top: 5rem; margin-bottom: 5%">
  <div class = "row">
    <div class = "col-12">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist" style="background-color: white; border-radius: 3px">
          <a class="nav-item nav-link menu-options active" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="true"><i class="fa fa-user"></i> Profile</a>
          <a class="nav-item nav-link menu-options" id="nav-requests-tab" data-toggle="tab" href="#nav-requests" role="tab" aria-controls="nav-requests" aria-selected="false"><i class="fas fa-users-cog"></i> User Management</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent" style="background-color: white;">
        <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" style="background-color: white; color: white">
          <div class="row">
            <div class="col-6">
              <%= image_tag("UC Libraries.jpg")%>
            </div>
            <div class="col-6" style="color: black">
              <dl>
                <dt><p style="font-weight: bold; margin: 0; color: black;"><i class="fas fa-user-tag"></i> Name</p></dt>
                <dd style="color: red"><ul><%= current_user.first_name.to_s+" "+current_user.last_name.to_s %></ul></dd>

                <dt><p style="font-weight: bold; margin: 0; color: black;"><i class="fas fa-envelope"></i> Email</p></dt>
                <dd><ul><a href="mailto:<%= current_user.email %>?subject=" style="color: red"><%= current_user.email %></a></ul></dd>

                <dt><p style="font-weight: bold; margin: 0; color: black;"><i class="fas fa-graduation-cap"></i> Job Title</p></dt>
                <dd style="color: red"><ul><%= current_user.title.to_s %></ul></dd>

                <dt><p style="font-weight: bold; margin: 0; color: black;"><i class="fas fa-university"></i> Department</p></dt>
                <dd style="color: red"><ul><%= current_user.department.to_s %></ul></dd>
              </dl>
              <br/>
              <div class="text-center">
                <a class="btn btn-dark pull-right" href="<%= edit_user_registration_path %>"><i class="fas fa-edit"></i> Edit Profile</a>
                <a class="btn btn-dark pull-right" href="<%= dashboard_path %>" style="margin: 40px"><i class="fas fa-tachometer-alt"></i> Go to Dashboard</a>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="nav-requests" role="tabpanel" aria-labelledby="nav-requests-tab" style="background-color: white; color: white">
        </div>
      </div>
    </div>
  </div>
</div>