<br/><br/>
<h2 style="color: red; text-align: center">Search Results for query - '<%= params[:search] %>'</h2>
<% if @softwarerecords_results.count != 0 %>
  <div class="srecords-table animated fadeInLeft" style="margin-bottom: 10rem; margin-top: 30px">
    <div class="row" style="height: 10%">
      <table class="table text-center software-records-table" style="border-radius: 10px;">
        <thead>
          <tr>
            <th class="text-left" style="padding-left: 20px">Software Record</th>
            <th class="text-left" style="padding-left: 20px">Vendor</th>
            <th class="text-left" style="padding-left: 20px">Software Type</th>
            <th class="text-left" style="padding-left: 20px">Date Implemented</th>
            <th class="text-left" style="padding-left: 20px">URL</th>
            <th class="text-left" style="padding-left: 20px">Product Owner</th>
            <% if current_user.role.to_s == "viewer" %>
              <th>Actions</th>
            <% elsif current_user.role.to_s == "owner" %>
              <th colspan="2">Actions</th>
            <% else %>
              <th colspan="3">Actions</th>
            <% end %>
          </tr>
        </thead>
        
        <tbody>
          <% @softwarerecords_results.each do |software_record| %>
            <tr>
              <td class="align-left" style="padding-left: 20px"><%= software_record.title %></td>
              <td class="align-left" style="padding-left: 20px"><%= VendorRecord.find(software_record.vendor_record_id).title %></td>
              <td class="align-left" style="padding-left: 20px"><%= SoftwareType.find(software_record.software_type_id).title %></td>
              <td class="align-left" style="padding-left: 20px"><%= software_record.date_implemented %></td>
              <td class="align-left" style="padding-left: 20px"><% if software_record.production_url.to_s.empty? %>-<% else %><a href="<%= software_record.production_url %>" target="_blank"><%= clean_url(software_record.production_url) %></a><% end %></td>
              <td class="align-left" style="padding-left: 20px"><% if software_record.product_owners[0] == "" %>N/A<% else %><%= software_record.product_owners[0].to_s %><% end %></td>
              <% if current_user.role.to_s == "viewer" %>
                <td><%= link_to 'View', software_record , { :class => "btn btn-success actions" }%></td>
              <% elsif current_user.role.to_s == "owner" %>
                <td><%= link_to 'View', software_record , { :class => "btn btn-success actions" }%></td>
                <td><%= link_to 'Edit', edit_software_record_path(software_record), { :class => "btn btn-primary actions" } %></td>
              <% else %>
                <td><%= link_to 'View', software_record , { :class => "btn btn-success actions" }%></td>
                <td><%= link_to 'Edit', edit_software_record_path(software_record), { :class => "btn btn-primary actions" } %></td>
                <td><%= link_to 'Delete', software_record, method: :delete, :class => "btn btn-danger actions", data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<% if @softwaretypes_results.count != 0 %>
  <div class="srecords-table animated fadeInUp" style="margin-bottom: 10rem; margin-top: 30px">
    <div class="row" style="height: 10%">
      <table class="table text-center software-records-table" style="border-radius: 10px">
        <thead>
          <tr>
            <th class="align-left" style="padding-left: 20px">Software Types</th>
            <% if current_user.role.to_s == "viewer" %>
              <th>Actions</th>
            <% elsif current_user.role.to_s == "owner" %>
              <th colspan="2">Actions</th>
            <% else %>
              <th colspan="3">Actions</th>
            <% end %>
          </tr>
        </thead>

        <tbody>
          <% @softwaretypes_results.each do |software_type| %>
            <tr>
              <td class="align-left" style="padding-left: 20px"><%= software_type.title %></td>
              <% if current_user.role.to_s == "viewer" %>
                <td><%= link_to 'View', software_type , { :class => "btn btn-success actions" }%></td>
              <% elsif current_user.role.to_s == "owner" %>
                <td><%= link_to 'View', software_type , { :class => "btn btn-success actions" }%></td>
                <td><%= link_to 'Edit', edit_software_type_path(software_type), { :class => "btn btn-primary actions" } %></td>
              <% else %>
                <td><%= link_to 'View', software_type , { :class => "btn btn-success actions" }%></td>
                <td><%= link_to 'Edit', edit_software_type_path(software_type), { :class => "btn btn-primary actions" } %></td>
                <td><%= link_to 'Delete', software_type, method: :delete, :class => "btn btn-danger actions", data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<% if @vendorrecords_results.count != 0 %>
  <div class="srecords-table animated fadeInRight" style="margin-bottom: 10rem;">
    <div class="row" style="height: 10%">
      <table class="table text-center software-records-table" style="border-radius: 10px">
        <thead>
          <tr>
            <th class="align-left" style="padding-left: 20px">Vendors</th>
            <% if current_user.role.to_s == "viewer" %>
              <th>Actions</th>
            <% elsif current_user.role.to_s == "owner" %>
              <th colspan="2">Actions</th>
            <% else %>
              <th colspan="3">Actions</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @vendorrecords_results.each do |vendor_record| %>
            <tr>
              <td class="align-left" style="padding-left: 20px"><%= vendor_record.title %></td>
              <% if current_user.role.to_s == "viewer" %>
                <td><%= link_to 'View', vendor_record , { :class => "btn btn-success actions" }%></td>
              <% elsif current_user.role.to_s == "owner" %>
                <td><%= link_to 'View', vendor_record , { :class => "btn btn-success actions" }%></td>
                <td><%= link_to 'Edit', edit_vendor_record_path(vendor_record), { :class => "btn btn-primary actions" } %></td>
              <% else %>
                <td><%= link_to 'View', vendor_record , { :class => "btn btn-success actions" }%></td>
                <td><%= link_to 'Edit', edit_vendor_record_path(vendor_record), { :class => "btn btn-primary actions" } %></td>
                <td><%= link_to 'Delete', vendor_record, method: :delete, :class => "btn btn-danger actions", data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

  <% if @softwarerecords_results.count == 0 && @softwaretypes_results.count == 0 && @vendorrecords_results.count == 0 %>
    <div style="text-align: center">
      <%= image_tag("no_results_found.png", style: "text-align: center; width: 900px") %>
    </div>
  <% end %>