
<div class="container animated fadeIn" style="display:flex; justify-content: center; align-items: center; height: 85vh; opacity: 0.9">
  <div class = "card" style = "background-color: black; width: 100%;"><br/>
    <h1 class= "<%= component %> text-center" style="color: white;"><% if component.eql?("new") %>New Vendor Record<% else %>Edit Vendor Record<% end %></h1>
    <div class = "card-body">
        <%= form_with(model: vendor_record, local: true) do |form| %>
          <% if vendor_record.errors.any? %>
            <div id="error_explanation">
              <% vendor_record.errors.full_messages.each do |message| %>
                <%= alert_generator message, "error" %>
              <% end %>
            </div>
          <% end %>
        <div class="form-group">
          <%= form.label :title, 'Name' %>
          <%= form.text_field :title, :class => "form-control" %>
        </div>
        
        <div class="form-group">
          <%= form.label :description %>
          <%= form.text_area :description, :class => "form-control" %>
        </div>
        <br/>
        <div class="form-group <%= component %>" style= "text-align: center;">
          <%= form.submit nil, class: "btn btn-primary" %>       
          <%= link_to 'Cancel', session[:previous], :class => "btn btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
