<div id="mySidenav" class="sidenav" style="background-color: black; visibility: hidden;">
	<a href="javascript:void(0)" class="closebtn" style="margin-top: 15%;" onclick="closeNav()">&times;</a>
    <br/><br/>
    <% if user_signed_in? %>
        <% if current_user.role.to_s == "root_admin" %>
            <div class="auth-role"><i class="fa fa-user-secret"></i> Admin</div>
            <div class="sidenav-menu">
                <a href="<%= new_software_record_path %>"><i class="fas fa-book float-right"></i> Create Software Record</a>
                <a href="<%= new_vendor_record_path %>"><i class="fas fa-user-friends float-right"></i> Create Vendor Record</a>
                <a href="<%= new_software_type_path %>"><i class="fas fa-file-alt float-right"></i> Create Software Type</a>
                <a href="<%= new_status_path %>"><i class="far fa-file-alt float-right"></i> Create Status</a>
                <a href="<%= new_hosting_environment_path %>"><i class="fab fa-envira float-right"></i> Create Hosting Environments</a>
                <a href="<%= new_change_request_path %>"><i class="fab fa-envira float-right"></i> Create Change Request</a>
                <hr style="background-color: white">
                <a href="<%= software_records_path %>"><i class="fas fa-book float-right"></i> View all Software Records</a>
                <a href="<%= vendor_records_path %>"><i class="fas fa-user-friends float-right"></i> View all Vendor Records</a>
                <a href="<%= software_types_path %>"><i class="fas fa-file-alt float-right"></i> View all Software Types</a>
                <a href="<%= statuses_path %>"><i class="far fa-file-alt float-right"></i> View all Status</a>
                <a href="<%= hosting_environments_path %>"><i class="fab fa-envira float-right"></i> View all Hosting Environments</a>
                <a href="<%= change_requests_path %>"><i class="fab fa-envira float-right"></i> View all Change Requests</a>
                <hr style="background-color: white">
                <a href="<%= list_upgrades_path %>"><i class="fas fa-users float-right"></i> Next Software Upgrades</a>
                <a href="<%= users_path %>"><i class="fas fa-users float-right"></i> Manage all Users</a>
                <a href="<%= file_uploads_new_path %>"><i class="fas fa-file-import float-right"></i> Import Data</a>
                <hr style="background-color: white">
                <a href="<%= export_software_records_path %>"><i class="fas fa-file-export float-right"></i> Export Software Records</a>
                <a href="<%= export_software_types_path %>"><i class="fas fa-file-export float-right"></i> Export Software Types</a>
                <a href="<%= export_vendor_records_path %>"><i class="fas fa-file-export float-right"></i> Export Vendor Records</a>
                <a href="<%= export_change_requests_path %>"><i class="fas fa-file-export float-right"></i> Export Change Request</a>
            </div>
            <br/>
            <% end %>
            <% if current_user.role.to_s == "manager" %>
            <div class="auth-role"><i class="fas fa-user-cog"></i> Manager</div>
            <div class="sidenav-menu">
                <a href="<%= new_software_record_path %>"><i class="fas fa-book float-right"></i> Create Software Record</a>
                <a href="<%= new_vendor_record_path %>"><i class="fas fa-user-friends float-right"></i> Create Vendor Record</a>
                <a href="<%= new_software_type_path %>"><i class="fas fa-file-alt float-right"></i> Create Software Type</a>
                <a href="<%= new_hosting_environment_path %>"><i class="fab fa-envira float-right"></i> Create Hosting Env</a>
                <a href="<%= new_change_request_path %>"><i class="fab fa-envira float-right"></i> Create Change Request</a>
                <hr style="background-color: white">
                <a href="<%= software_records_path %>"><i class="fas fa-book float-right"></i> View all Software Records</a>
                <a href="<%= vendor_records_path %>"><i class="fas fa-user-friends float-right"></i> View all Vendor Records</a>
                <a href="<%= software_types_path %>"><i class="fas fa-file-alt float-right"></i> View all Software Types</a>
                <a href="<%= statuses_path %>"><i class="far fa-file-alt float-right"></i> View all Status</a>
                <a href="<%= hosting_environments_path %>"><i class="fab fa-envira float-right"></i> View all Hosting Environments</a>
                <hr style="background-color: white">
                <a href="<%= list_upgrades_path %>"><i class="fas fa-users float-right"></i> Next Software Upgrades</a>
                <a href="<%= change_requests_path %>"><i class="fab fa-envira float-right"></i> View all Change Requests</a>
            </div>
            <br/>
            <% end %>
            <% if current_user.role.to_s == "owner" %>
            <div class="auth-role"><i class="fas fa-user-tie"></i> Owner</div>
            <div class="sidenav-menu">
                <a href="<%= request_new_path %>"><i class="fas fa-book float-right"></i> Request Software Record</a>
                <hr style="background-color: white">
                <a href="<%= software_records_path %>"><i class="fas fa-book float-right"></i> View all Software Records</a>
                <a href="<%= vendor_records_path %>"><i class="fas fa-user-friends float-right"></i> View all Vendor Records</a>
                <a href="<%= software_types_path %>"><i class="fas fa-file-alt float-right"></i> View all Software Types</a>
                <a href="<%= statuses_path %>"><i class="far fa-file-alt float-right"></i> View all Status</a>
                <a href="<%= hosting_environments_path %>"><i class="fab fa-envira float-right"></i> View all Hosting Environments</a>
                <a href="<%= change_requests_path %>"><i class="fab fa-envira float-right"></i> View all Change Request</a>
                <hr style="background-color: white">
                <a href="<%= list_upgrades_path %>"><i class="fas fa-users float-right"></i> Next Software Upgrades</a>
                <hr style="background-color: white">
                <a href="<%= export_software_records_path %>"><i class="fas fa-file-export float-right"></i> Export Software Records</a>
                <a href="<%= export_software_types_path %>"><i class="fas fa-file-export float-right"></i> Export Software Types</a>
                <a href="<%= export_vendor_records_path %>"><i class="fas fa-file-export float-right"></i> Export Vendor Records</a>
                <a href="<%= export_change_requests_path %>"><i class="fas fa-file-export float-right"></i> Export Change Records</a>
            </div>
            <br/>
            <% end %>
            <% if current_user.role.to_s == "viewer" %>
            <div class="auth-role"><i class="fas fa-user-graduate"></i> Viewer</div>
            <div class="sidenav-menu">
                <a href="<%= request_new_path %>"><i class="fas fa-book float-right"></i> Request Software Record</a>
                <hr style="background-color: white">
                <a href="<%= software_records_path %>"><i class="fas fa-book float-right"></i> View all Software Records</a>
                <a href="<%= vendor_records_path %>"><i class="fas fa-user-friends float-right"></i> View all Vendor Records</a>
                <a href="<%= software_types_path %>"><i class="fas fa-file-alt float-right"></i> View all Software Types</a>
                <a href="<%= statuses_path %>"><i class="far fa-file-alt float-right"></i> View all Status</a>
                <a href="<%= hosting_environments_path %>"><i class="fab fa-envira float-right"></i> View all Hosting Environments</a>
                <a href="<%= change_requests_path %>"><i class="fab fa-envira float-right"></i> View all Change Requests</a>
             </div>
            <br/>
        <% end %>
    <% else %>
        <p> Please sign-in to access this content !</p>
    <% end %>
 </div>
