<div class="navbar sticky-top" style="height: 70px;">
  <div class="container" style="max-width: 4000px">
    <a class="masthead-brand" href="https://www.uc.edu/" target="_blank"><%= image_tag("UC_Logo.svg", top:'0', width:'113px', height: '49px')%></a>
    <nav class="nav nav-masthead">
      <% if user_signed_in? %>
        <%= form_tag(search_path, :method => "get", class: "mt-1") do %>  

          <div class="input-group" style="width: fit-content;">
  <%= search_field_tag :search, params[:search], placeholder: "Search..", class: "form-control rounded-start", style: "height: 27px;" %>

  <button type="submit" class="btn search-btn d-flex align-items-center justify-content-center rounded-end ms-2" style="height: 27px; width: 36px; background-color: #E00122; color: white; padding: 
0;">
    <i class="fa fa-search fa-xs" style="font-size: 14px;"></i>
  </button>
</div>


        <% end %>
      <% end %>
      <p class="ms-3"></p>
       <%= nav_helper 'nav-link' %>
       <div class="drop" style="position: relative; display: inline-block; margin-left: 20px;">
       		<% if current_user %><a class="nav-link drop-btn"> <%= current_user.first_name.to_s+" "+current_user.last_name.to_s %><i class="fa fa-caret-down" style="margin: 5px 15px 0px 8px;"></i></a><% end %>
       		<div class="dropdown-content bg-black">
       			<a href="<%= myprofile_path %>" class="text-white">My Profile <i class="fa fa-user float-right"></i></a>
    			  <% if current_user %>
              <%= link_to "Logout", destroy_user_session_path, :method => :delete, :class => "text-white" %>
            <%end%>
       		</div>
       </div>
    </nav>
  </div>
</div>
