<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi Admin<br><br>

	A New Software Record has been requested by <%= @name %>. Please find the link to the request below.
	<% @host_url = ENV['APP_PORTFOLIO_PRODUCTION_MAILER_URL'] %>
	<a href="https://<%= @host_url %>/software_records/<%= @id %>">https://<%= @host_url %>/software_records/<%= @id %></a></p><br><br>
  </body>
</html> 