<% if @change_request_counts != 0 %>
  <div class="container animated fadeInUp" style="margin-bottom: 10rem;">

    <section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading display-4" style="text-align: center; color: black; font-family: Courier New, Lucida, Console">Change Requests</h1>
    <em style="font-size: 14px; color: black">Contains list of all change requests</em><br/><br/>
    <% if current_user.role.to_s == "root_admin" or current_user.role.to_s == "manager" or current_user.role.to_s == "owner" %>
      <p>
        <%= link_to 'Create a new change request', new_change_request_path, {:class => "mx-auto new-record btn btn-dark"} %>
      </p> 
      <% end %>
  </div>
</section>

    <div class="row">
      <table class="table text-center">
        <thead>
          <tr>
            <th class="text-left" style="padding-left: 50px; color: white">Completed</th>
            <th class="text-left" style="padding-left: 50px; color: white">Date Submitted</th>
            <th class="text-left" style="padding-left: 50px; color: white">Change Requests</th>
            <th class="text-left" style="padding-left: 50px; color: white">Version</th>
            <th class="text-left" style="padding-left: 50px; color: white">Tech Lead</th>

            <% if current_user.role.to_s == "viewer" %>
              <th>Actions</th>
            <% elsif current_user.role.to_s == "owner" %>
              <th colspan="2">Actions</th>
             <% elsif current_user.role.to_s == "manager" %>
              <th colspan="2">Actions</th>
            <% else %>
              <th colspan="3">Actions</th>
            <% end %>
          </tr>
        </thead>

        <tbody>
          <% software_records_where_hash(@software_record.id).each do |change_request| %>
            <tr>
              <td class="text-left" style="padding-left: 50px; color: white"><%= convert_completed(change_request.change_completed) %> </td>
              <td class="text-left" style="padding-left: 50px; color: white"><%= change_request.change_submitted_date %></td>
              <td class="text-left" style="padding-left: 50px; color: white"><%= change_request.change_title %></td>
              <td class="text-left" style="padding-left: 50px; color: white"><%= find_software_version(change_request.software_record_id) %></td>
              <td class="text-left" width="250px" style="padding-left: 50px; color: white"><% find_tech_leads(change_request.software_record_id).each do |a| %><li><%= a %></li><% end %></td>
              <% if current_user.role.to_s == "viewer" %>
                <td><%= link_to 'View', change_request , { :class => "btn btn-success" }%></td>
              <% elsif current_user.role.to_s == "owner" %>
                <td><%= link_to 'View', change_request , { :class => "btn btn-success" }%></td>
                <td><%= link_to 'Edit', edit_change_request_path(change_request), { :class => "btn btn-primary" } %></td>
              <% else %>
                <td><%= link_to 'View', change_request , { :class => "btn btn-success" }%></td>
                <td><%= link_to 'Edit', edit_change_request_path(change_request), { :class => "btn btn-primary" } %></td>
                <td><%= link_to 'Delete', change_request, method: :delete, :class => "btn btn-danger", data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% else %>
  <h3 class="text-center">No records found</h3>
<% end %>

<dl>
  <% unless @software_record.requires_cm.to_s.blank? %>
    <dt class="inline-block">Requires Change Management review?: <span style="color: white; font-weight: normal"><%= @software_record.requires_cm %></span></dt>
  <% end %>
  <% unless @software_record.last_security_scan.to_s.blank? %>
    <dt class="inline-block">Last security scan: <span style="color: white; font-weight: normal"><%= @software_record.last_security_scan %></span></dt>
  <% end %>
  <% unless @software_record.last_accessibility_scan.to_s.blank? %>
    <dt class="inline-block">Last accessibility scan: <span style="color: white; font-weight: normal"><%= @software_record.last_accessibility_scan %></span></dt>
  <% end %>
  <% unless @software_record.last_ogc_review.to_s.blank? %>
    <dt class="inline-block">Last OGC review: <span style="color: white; font-weight: normal"><%= @software_record.last_ogc_review %></span></dt>
  <% end %>
  <% unless @software_record.last_info_sec_review.to_s.blank? %>
    <dt class="inline-block">Last Infosec review: <span style="color: white; font-weight: normal"><%= @software_record.last_info_sec_review %></span></dt>
  <% end %>
  <% unless @software_record.cm_stakeholders.blank? %>
    <dt class="inline-block">CM stakeholders: <span style="color: white; font-weight: normal"><%= @software_record.cm_stakeholders %></span></dt>
  <% end %>
  <% unless @software_record.cm_other_notes.blank? %>
    <dt class="inline-block">CM other notes: <span style="color: white; font-weight: normal"><%= @software_record.cm_other_notes %></span></dt>
  <% end %>
</dl>

<hr style = "background-color: black; width: 54%;">
