            <div class="form-group">
              <%= form.label :title %><b style="color: red; font-size: 20px"> *</b>
              <%= form.text_field :title, :class => "form-control" %>
            </div>
            
            <div class="form-group">
              <%= form.label :description %><b style="color: red; font-size: 20px"> *</b>
              <%= form.text_area :description, :cols => 30, :rows => 4, :class => "form-control" %>
            </div>

            <div class="form-group">
              <%= form.label "Status" %><b style="color: red; font-size: 20px"> *</b>
              <%= form.collection_select(:status_id, Status.order(:title), :id, :title, {}, {:class => "form-control"}) %>
            </div>
            
            <div class="form-group">
              <%= form.label :date_implemented %>
              <%= form.date_field :date_implemented, as: :date, value: form.object.try(:strftime,"%m/%d/%Y"), class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= form.label :date_of_upgrade, "Date of last upgrade" %>
              <%= form.date_field :date_of_upgrade, as: :date, value: form.object.try(:strftime,"%m/%d/%Y"), class: 'form-control' %>
            </div>
            
            <div class="form-group">
              <%= form.label :created_by %><b style="color: red; font-size: 20px"> *</b>
              <% if component.eql?("new") and user_signed_in? %>
                <%= form.text_field :created_by, value: current_user.first_name + " " +current_user.last_name, :class => "form-control regex-createdby" %>
              <% else %>
                <%= form.text_field :created_by, :class => "form-control regex-createdby", :disabled=>true %>
              <% end %>
            </div>

            <div class="form-group">
              <%= form.label "Software Type" %><b style="color: red; font-size: 20px"> *</b>
              <%= form.collection_select(:software_type_id, SoftwareType.order(:title), :id, :title, {}, {:class => "form-control"}) %>
            </div>
            
            <div class="form-group">
              <%= form.label "Vendor" %><b style="color: red; font-size: 20px"> *</b>
              <%= form.collection_select(:vendor_record_id, VendorRecord.order(:title), :id, :title, {}, {:class => "form-control"}) %>
            </div>
            
            <div class="form-group">
              <%= form.label "Authentication Type" %>
              <%= form.select(:authentication_type, t('authentication_types'), {}, { :class => 'form-control' }) %>
            </div>

            <!-- Multiple Departments -->
<% if current_user.role.to_s == "root_admin" %>
  <div class="form-group" id="multiple_departments">
    <%= form.label :departments %>
    <a class="float-right text-primary anchor-underline" id="btnAddDepartments">+ add more</a>

    <% if component.to_s == "new" || @software_record.departments.empty? %>
      <div class="input-group" id="departments1">
        <%= text_field_tag "software_record[departments][]", nil, required: true, class: "form-control" %>
        <div class="input-group-append" id="btnRemove" onclick="remove('departments1')">
          <span class="input-group-text"><i class="fas fa-minus remove"> Delete</i></span>
        </div>
      </div>
    <% else %>
      <% @software_record.departments.each_with_index do |department, index| %>
        <% @id = "departments#{index + 1}" %>
        <div class="input-group mt-2" id="<%= @id %>">
          <%= text_field_tag "software_record[departments][]", department, required: true, class: "form-control" %>
          <div class="input-group-append" id="btnRemove" onclick="remove('<%= @id %>')">
            <span class="input-group-text"><i class="fas fa-minus remove"> Delete</i></span>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <% if @software_record.departments.any? %>
    <div class="form-group" id="multiple_departments">
      <% @software_record.departments.each_with_index do |department, index| %>
        <% @id = "departments#{index + 1}" %>
        <div class="input-group mt-2" id="<%= @id %>" style="display: none">
          <%= text_field_tag "software_record[departments][]", department, required: true, class: "form-control" %>
          <div class="input-group-append" id="btnRemove" onclick="remove('<%= @id %>')">
            <span class="input-group-text"><i class="fas fa-minus remove"> Delete</i></span>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
<!-- Multiple Departments ends -->

<!-- Multiple Developers -->
<% if current_user.role.to_s != "owner" %>
  <div class="form-group" id="multiple_developers">
    <%= form.label :developers %>
    <a class="float-right text-primary anchor-underline" id="btnAddDevelopers">+ add more</a>
    
    <% if component.to_s == "new" || @software_record.developers.empty? %>
      <div class="input-group mt-2" id="developers1">
        <%= text_field_tag "software_record[developers][]", nil, required: true, class: "form-control" %>
        <div class="input-group-append" id="btnRemove" onclick="remove('developers1')">
          <span class="input-group-text"><i class="fas fa-minus remove"> Delete</i></span>
        </div>
      </div>
    <% else %>
      <% @software_record.developers.each_with_index do |developer, index| %>
        <% @id = "developers#{index + 1}" %>
        <div class="input-group mt-2" id="<%= @id %>">
          <%= text_field_tag "software_record[developers][]", developer, required: true, class: "form-control" %>
          <div class="input-group-append" id="btnRemove" onclick="remove('<%= @id %>')">
            <span class="input-group-text"><i class="fas fa-minus remove"> Delete</i></span>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <% if @software_record.developers.any? %>
    <div class="form-group" id="multiple_developers">
      <% @software_record.developers.each_with_index do |developer, index| %>
        <% @id = "developers#{index + 1}" %>
        <div class="input-group mt-2" id="<%= @id %>" style="display: none">
          <%= text_field_tag "software_record[developers][]", developer, required: true, class: "form-control" %>
          <div class="input-group-append" id="btnRemove" onclick="remove('<%= @id %>')">
            <span class="input-group-text"><i class="fas fa-minus remove"> Delete</i></span>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
<!-- Multiple Developers ends -->

<!-- Multiple Tech Leads -->
<% if current_user.role.to_s != "owner" %>
  <div class="form-group" id="multiple_tech_leads">
    <%= form.label :tech_leads %>
    <a class="float-right text-primary anchor-underline" id="btnAddTechLeads">+ add more</a>
    
    <% if component.to_s == "new" || @software_record.tech_leads.empty? %>
      <div class="input-group mt-2" id="tech_leads1">
        <%= text_field_tag "software_record[tech_leads][]", nil, required: true, class: "form-control" %>
        <div class="input-group-append" id="btnRemove" onclick="remove('tech_leads1')">
          <span class="input-group-text"><i class="fas fa-minus remove"> Delete</i></span>
        </div>
      </div>
    <% else %>
      <% @software_record.tech_leads.each_with_index do |tech_lead, index| %>
        <% @id = "tech_leads#{index + 1}" %>
        <div class="input-group mt-2" id="<%= @id %>">
          <%= text_field_tag "software_record[tech_leads][]", tech_lead, required: true, class: "form-control" %>
          <div class="input-group-append" id="btnRemove" onclick="remove('<%= @id %>')">
            <span class="input-group-text"><i class="fas fa-minus remove"> Delete</i></span>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <% if @software_record.tech_leads.any? %>
    <div class="form-group" id="multiple_tech_leads">
      <% @software_record.tech_leads.each_with_index do |tech_lead, index| %>
        <% @id = "tech_leads#{index + 1}" %>
        <div class="input-group mt-2" id="<%= @id %>" style="display: none">
          <%= text_field_tag "software_record[tech_leads][]", tech_lead, required: true, class: "form-control" %>
          <div class="input-group-append" id="btnRemove" onclick="remove('<%= @id %>')">
            <span class="input-group-text"><i class="fas fa-minus remove"> Delete</i></span>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
<!-- Multiple Tech Leads ends -->

<!-- Multiple Product Owners -->
<div class="form-group" id="multiple_product_owners">
  <%= form.label "Product Lead/Contact" %>
  <a class="float-right text-primary anchor-underline" id="btnAddProductOwners">+ add more</a>
  
  <% if component.to_s == "new" || @software_record.product_owners.empty? %>
    <div class="input-group mt-2" id="product_owners1">
      <%= text_field_tag "software_record[product_owners][]", nil, required: true, class: "form-control" %>
      <div class="input-group-append" id="btnRemove" onclick="remove('product_owners1')">
        <span class="input-group-text"><i class="fas fa-minus remove"> Delete</i></span>
      </div>
    </div>
  <% else %>
    <% @software_record.product_owners.each_with_index do |product_owner, index| %>
      <% @id = "product_owners#{index + 1}" %>
      <div class="input-group mt-2" id="<%= @id %>">
        <%= text_field_tag "software_record[product_owners][]", product_owner, required: true, class: "form-control" %>
        <div class="input-group-append" id="btnRemove" onclick="remove('<%= @id %>')">
          <span class="input-group-text"><i class="fas fa-minus remove"> Delete</i></span>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<!-- Multiple Product Owners ends -->

<!-- Multiple Admin Users -->
<div class="form-group" id="multiple_admin_users">
  <%= form.label "Admin Users" %>
  <a class="float-right text-primary anchor-underline" id="btnAddAdminUsers">+ add more</a>
  
  <% if component.to_s == "new" || @software_record.admin_users.empty? %>
    <div class="input-group mt-2" id="admin_users1">
      <%= text_field_tag "software_record[admin_users][]", nil, required: true, class: "form-control" %>
      <div class="input-group-append" id="btnRemove" onclick="remove('admin_users1')">
        <span class="input-group-text"><i class="fas fa-minus remove"> Delete</i></span>
      </div>
    </div>
  <% else %>
    <% @software_record.admin_users.each_with_index do |admin_user, index| %>
      <% @id = "admin_users#{index + 1}" %>
      <div class="input-group mt-2" id="<%= @id %>">
        <%= text_field_tag "software_record[admin_users][]", admin_user, required: true, class: "form-control" %>
        <div class="input-group-append" id="btnRemove" onclick="remove('<%= @id %>')">
          <span class="input-group-text"><i class="fas fa-minus remove"> Delete</i></span>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<!-- Multiple Admin Users ends -->



            <% if current_user.role.to_s != "owner" %>
              <div class="form-group">
                <%= form.label :languages_used %>
                <%= form.text_field :languages_used, :class => "form-control" %>
              </div>
            <% end %>
            
            <div class="form-group">
              <%= form.label :production_url, "Production URL" %>
              <%= form.text_field :production_url, :class => "form-control" %>
            </div>

            <div class="form-group">
              <%= form.label :source_code_url, "Source Code URL" %>
              <%= form.text_field :source_code_url, :class => "form-control" %>
            </div>

            <div class="form-group">
              <%= form.label :user_seats %>
              <%= form.text_field :user_seats, :class => "form-control" %>
            </div>

            <% if current_user.role.to_s == "root_admin" %>
              <div class="form-group">
                <%= form.label :annual_fees %>
                <%= form.text_field :annual_fees, :class => "form-control" %>
              </div>
            <% end %>

            <% if params[:id].nil? %>
              <div class="form-group">
                <%= form.label :support_contract %><br/>
                <%= form.label :support_contract, "Yes", :value => "Yes"  %>
                <%= form.radio_button :support_contract, "Yes" %>
                <%= form.label :support_contract, "No", :value => "No" %>
                <%= form.radio_button :support_contract, "No", :checked => true %>
              </div>
            <% else %>
              <div class="form-group">
                <%= form.label :support_contract %><br/>
                <%= form.label :support_contract, "Yes", :value => "Yes"  %>
                <%= form.radio_button :support_contract, "Yes", :checked => yes_no_toggle(:support_contract) == "Yes" %>
                <%= form.label :support_contract, "No", :value => "No" %>
                <%= form.radio_button :support_contract, "No", :checked => yes_no_toggle(:support_contract) == "No" %>
              </div>
            <% end %>

            <div class="form-group">
              <%= form.label "Hosting Environment" %>
              <%= form.collection_select(:hosting_environment_id, HostingEnvironment.order(:title), :id, :title, {}, {:class => "form-control"}) %>
            </div>

            <div class="form-group">
              <%= form.label :current_version %>
              <%= form.text_field :current_version, :class => "form-control" %>
            </div>

            <% if current_user.role.to_s == "root_admin" %>
              <div class="form-group">
                <%= form.label "Sensitive Information (Software keys/Passwords)" %>
                <%= form.text_area :sensitive_information, :cols => 30, :rows => 3, :value => @decrypted_sensitive_information, :class => "form-control" %>
              </div>
            <% end %>

            <% if current_user.role.to_s == "root_admin" or current_user.role.to_s == "manager" or current_user.role.to_s == "technician"%>
              <div class="form-group">
                <%= form.label :road_map, 'Road Map' %>
                <%= form.text_area :road_map, :cols => 30, :rows => 7, :class => "form-control" %>
              </div>
            <% end %>

            <div class="form-group">
              <%= form.label :notes %>
              <%= form.text_area :notes, :cols => 30, :rows => 3, :class => "form-control" %>
            </div>

            <% if current_user.role.to_s == "root_admin" %>
              <div class="form-group">
                <%= form.label :business_value %>
                <%= form.number_field :business_value, :class => "form-control" %>
              </div>
            <% end %>

            <% if current_user.role.to_s != "owner" %>
              <div class="form-group">
                <%= form.label :it_quality, 'IT Quality' %>
                <%= form.number_field :it_quality, :class => "form-control" %>
              </div>
            <% end %>
        <br/>

