<!-- Multiple Product Owners -->
<div class="mb-3" id="multiple_product_owners">
  <%= form.label "Product Lead/Contact" %>
  <a class="float-right text-primary anchor-underline" id="btnAddProductOwners">+ add more</a>
  
  <% if component.to_s == "new" || @software_record.product_owners.empty? %>
    <div class="input-group mt-2" id="product_owners1">
      <%= text_field_tag "software_record[product_owners][]", nil, required: true, class: "form-control" %>
      <div class="input-group-append" id="btnRemove" onclick="remove('product_owners1')">
        <span class="input-group-text"><i class="fas fa-minus remove"> Delete</i></span>
      </div>
    </div>
  <% else %>
    <% @software_record.product_owners.each_with_index do |product_owner, index| %>
      <% @id = "product_owners#{index + 1}" %>
      <div class="input-group mt-2" id="<%= @id %>">
        <%= text_field_tag "software_record[product_owners][]", product_owner, required: true, class: "form-control" %>
        <div class="input-group-append" id="btnRemove" onclick="remove('<%= @id %>')">
          <span class="input-group-text"><i class="fas fa-minus remove"> Delete</i></span>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<!-- Multiple Product Owners ends -->




