<div class="container animated fadeIn" style="opacity: 0.8">
  <div class = "card-detail" style = "background-color: black; width: 100%;"><br/>
    <h1 class= "<%= component %> text-center" style="color: white;"><% if component.eql?("new") %>New Software Record<% else %>Edit Software Record<% end %></h1>
    <p style="font-size: 12px; float: right; margin-right: 30px; margin-bottom: 0px !important"><b style="color: red; font-size: 20px">*</b> indicates a required field</p><br>
    <hr style="background-color: white">
    <div class = "card-body">
        <%= form_with(model: software_record, local: true) do |form| %>
          <% if software_record.errors.any? %>
            <div id="error_explanation">
              <% software_record.errors.full_messages.each do |message| %>
                <%= alert_generator message, "error" %>
              <% end %>
            </div>
          <% end %>
            <div class="form-group">
              <%= form.label :title %><b style="color: red; font-size: 20px"> *</b>
              <%= form.text_field :title, :class => "form-control" %>
            </div>
            
            <div class="form-group">
              <%= form.label :description %><b style="color: red; font-size: 20px"> *</b>
              <%= form.text_area :description, :cols => 30, :rows => 4, :class => "form-control" %>
            </div>

            <div class="form-group">
              <%= form.label :status %><b style="color: red; font-size: 20px"> *</b>
              <%= form.select(:status, SoftwareRecord::STATUSES, {} , {:class => "form-control"})%>
            </div>      
            
            <div class="form-group">
              <%= form.label :date_implemented %>
              <%= form.date_field :date_implemented, as: :date, value: form.object.try(:strftime,"%m/%d/%Y"), class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= form.label :date_of_upgrade, "Date of last upgrade" %>
              <%= form.date_field :date_of_upgrade, as: :date, value: form.object.try(:strftime,"%m/%d/%Y"), class: 'form-control' %>
            </div>
            
            <div class="form-group">
              <%= form.label :created_by %><b style="color: red; font-size: 20px"> *</b>
              <% if component.eql?("new") and user_signed_in? %>
                <%= form.text_field :created_by, value: current_user.first_name + " " +current_user.last_name, :class => "form-control regex-createdby" %>
              <% else %>
                <%= form.text_field :created_by, :class => "form-control regex-createdby", :disabled=>true %>
              <% end %>
            </div>

            <div class="form-group">
              <%= form.label "Software Type" %><b style="color: red; font-size: 20px"> *</b>
              <%= form.collection_select(:software_type_id, SoftwareType.order(:title), :id, :title, {}, {:class => "form-control"}) %>
            </div>
            
            <div class="form-group">
              <%= form.label "Vendor" %><b style="color: red; font-size: 20px"> *</b>
              <%= form.collection_select(:vendor_record_id, VendorRecord.order(:title), :id, :title, {}, {:class => "form-control"}) %>
            </div>

            <!-- Multiple Departments -->
            <% if current_user.role.to_s == "root_admin" %>
              <% if component.to_s == "new" %>
                <div class="form-group" id="multiple_departments">
                  <%= form.label :departments %>
                <div class="input-group">
                  <%= text_field_tag "software_record[departments][]", nil, class: "form-control" %>
                  <div class="input-group-append" id="btnAddDepartments">
                    <span class="input-group-text"><i class="fas fa-plus">  Add</i></span>
                  </div>
                </div>
              </div>
              <% else %>
              <% if @software_record.departments.count != 0 %>
                <div class="form-group" id="multiple_departments">
                  <%= form.label :departments %>
                  <% @software_record.departments.each do |department| %>
                      <% if @count_departments == 2 %>
                        <div class="input-group">
                          <%= text_field_tag "software_record[departments][]", department, class: "form-control" %>
                          <div class="input-group-append" id="btnAddDepartments">
                            <span class="input-group-text"><i class="fas fa-plus">  Add</i></span>
                          </div>
                        </div>
                          <% @count_departments += 1 %>
                      <% else %>
                        <% @id = "software_record_departments_" + @count_departments.to_s %>
                        <div class="input-group mt-2" id = "<%= @id %>" >
                          <%= text_field_tag "software_record[departments][]", department, id: "software_record_departments_", required: true, class: "form-control" %>
                          <div class="input-group-append" id="btnRemove" onclick = "remove('<%= @id %>')">
                            <span class="input-group-text"><i class="fas fa-minus remove">  Delete</i></span>
                          </div>
                        </div>
                      <% end %>
                  <% end %>
                  </div>
                <% else %>
                  <div class="form-group" id="multiple_departments">
                    <%= form.label :departments %>
                    <div class="input-group">
                      <%= text_field_tag "software_record[departments][]", nil, class: "form-control" %>
                      <div class="input-group-append" id="btnAddDepartments">
                        <span class="input-group-text"><i class="fas fa-plus">  Add</i></span>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>

            <!-- Multiple Departments ends -->

            <!-- Multiple Developers -->
            <% if current_user.role.to_s != "owner" %>
            <% if component.to_s == "new" %>
              <div class="form-group" id="multiple_developers">
                <%= form.label :developers %>
              <div class="input-group">
                <%= text_field_tag "software_record[developers][]", nil, class: "form-control" %>
                <div class="input-group-append" id="btnAddDevelopers">
                  <span class="input-group-text"><i class="fas fa-plus">  Add</i></span>
                </div>
              </div>
            </div>
            <% else %>
            <% if @software_record.developers.count != 0 %>
              <div class="form-group" id="multiple_developers">
                <%= form.label :developers %>
                <% @software_record.developers.each do |developer| %>
                    <% if @count_developers == 2 %>
                      <div class="input-group">
                        <%= text_field_tag "software_record[developers][]", developer, class: "form-control" %>
                        <div class="input-group-append" id="btnAddDevelopers">
                          <span class="input-group-text"><i class="fas fa-plus">  Add</i></span>
                        </div>
                      </div>
                        <% @count_developers += 1 %>
                    <% else %>
                      <% @id = "software_record_developers_" + @count_developers.to_s %>
                      <div class="input-group mt-2" id = "<%= @id %>" >
                        <%= text_field_tag "software_record[developers][]", developer, id: "software_record_developers_", required: true, class: "form-control" %>
                        <div class="input-group-append" id="btnRemove" onclick = "remove('<%= @id %>')">
                          <span class="input-group-text"><i class="fas fa-minus remove">  Delete</i></span>
                        </div>
                      </div>
                    <% end %>
                <% end %>
                </div>
              <% else %>
               <div class="form-group" id="multiple_developers">
                <%= form.label :developers %>
                <div class="input-group">
                  <%= text_field_tag "software_record[developers][]", nil, class: "form-control" %>
                  <div class="input-group-append" id="btnAddDevelopers">
                    <span class="input-group-text"><i class="fas fa-plus">  Add</i></span>
                  </div>
                </div>
              </div>
              <% end %>
            <% end %>
            <% end %>

            <!-- Multiple Developers ends -->

            <!-- Multiple Tech Leads -->
            <% if current_user.role.to_s != "owner" %>
            <% if component.to_s == "new" %>
              <div class="form-group" id="multiple_tech_leads">
                <%= form.label :tech_leads %>
              <div class="input-group">
                <%= text_field_tag "software_record[tech_leads][]", nil, class: "form-control" %>
                <div class="input-group-append" id="btnAddTechLeads">
                  <span class="input-group-text"><i class="fas fa-plus">  Add</i></span>
                </div>
              </div>
            </div>
            <% else %>
            <% if @software_record.tech_leads.count != 0 %>
              <div class="form-group" id="multiple_tech_leads">
                <%= form.label :tech_leads %>
                <% @software_record.tech_leads.each do |tech_lead| %>
                    <% if @count_tech_leads == 2 %>
                      <div class="input-group">
                        <%= text_field_tag "software_record[tech_leads][]", tech_lead, class: "form-control" %>
                        <div class="input-group-append" id="btnAddTechLeads">
                          <span class="input-group-text"><i class="fas fa-plus">  Add</i></span>
                        </div>
                      </div>
                        <% @count_tech_leads += 1 %>
                    <% else %>
                      <% @id = "software_record_tech_leads_" + @count_tech_leads.to_s %>
                      <div class="input-group mt-2" id = "<%= @id %>" >
                        <%= text_field_tag "software_record[tech_leads][]", tech_lead, id: "software_record_tech_leads_", required: true, class: "form-control" %>
                        <div class="input-group-append" id="btnRemove" onclick = "remove('<%= @id %>')">
                          <span class="input-group-text"><i class="fas fa-minus remove">  Delete</i></span>
                        </div>
                      </div>
                    <% end %>
                <% end %>
                </div>
              <% else %>
              <div class="form-group" id="multiple_tech_leads">
                <%= form.label :tech_leads %>
                <div class="input-group">
                  <%= text_field_tag "software_record[tech_leads][]", nil, class: "form-control" %>
                  <div class="input-group-append" id="btnAddTechLeads">
                    <span class="input-group-text"><i class="fas fa-plus">  Add</i></span>
                  </div>
                </div>
              </div>
              <% end %>
            <% end %>
            <% end %>

            <!-- Multiple Tech Leads ends -->

            <!-- Multiple Product Owners -->

            <% if component.to_s == "new" %>
              <div class="form-group" id="multiple_product_owners">
                <%= form.label :product_owners %>
              <div class="input-group">
                <%= text_field_tag "software_record[product_owners][]", nil, class: "form-control" %>
                <div class="input-group-append" id="btnAddProductOwners">
                  <span class="input-group-text"><i class="fas fa-plus">  Add</i></span>
                </div>
              </div>
            </div>
            <% else %>
            <% if @software_record.product_owners.count != 0 %>
              <div class="form-group" id="multiple_product_owners">
                <%= form.label :product_owners %>
                <% @software_record.product_owners.each do |product_owner| %>
                    <% if @count_product_owners == 2 %>
                      <div class="input-group">
                        <%= text_field_tag "software_record[product_owners][]", product_owner, class: "form-control" %>
                        <div class="input-group-append" id="btnAddProductOwners">
                          <span class="input-group-text"><i class="fas fa-plus">  Add</i></span>
                        </div>
                      </div>
                        <% @count_product_owners += 1 %>
                    <% else %>
                      <% @id = "software_record_tech_leads_" + @count_product_owners.to_s %>
                      <div class="input-group mt-2" id = "<%= @id %>" >
                        <%= text_field_tag "software_record[product_owners][]", product_owner, id: "software_record_product_owners_", required: true, class: "form-control" %>
                        <div class="input-group-append" id="btnRemove" onclick = "remove('<%= @id %>')">
                          <span class="input-group-text"><i class="fas fa-minus remove">  Delete</i></span>
                        </div>
                      </div>
                    <% end %>
                <% end %>
                </div>
              <% else %>
              <div class="form-group" id="multiple_product_owners">
                <%= form.label :product_owners %>
                <div class="input-group">
                  <%= text_field_tag "software_record[product_owners][]", nil, class: "form-control" %>
                  <div class="input-group-append" id="btnAddProductOwners">
                    <span class="input-group-text"><i class="fas fa-plus">  Add</i></span>
                  </div>
                </div>
              </div>
              <% end %>
            <% end %>

            <!-- Multiple Product Owners ends -->
            <% if current_user.role.to_s != "owner" %>
              <div class="form-group">
                <%= form.label :languages_used %>
                <%= form.text_field :languages_used, :class => "form-control" %>
              </div>
            <% end %>

            <div class="form-group">
              <%= form.label :production_url, "Production URL" %>
              <%= form.text_field :production_url, :class => "form-control" %>
            </div>

            <div class="form-group">
              <%= form.label :source_code_url, "Source Code URL" %>
              <%= form.text_field :source_code_url, :class => "form-control" %>
            </div>

            <div class="form-group">
              <%= form.label :user_seats %>
              <%= form.text_field :user_seats, :class => "form-control" %>
            </div>

            <% if current_user.role.to_s == "root_admin" %>
              <div class="form-group">
                <%= form.label :annual_fees %>
                <%= form.text_field :annual_fees, :class => "form-control" %>
              </div>
            <% end %>

            <div class="form-group">
              <%= form.label :support_contract %><br/>
              <%= form.label :support_contract, "Yes", :value => "Yes"  %>
              <%= form.radio_button :support_contract, "Yes" %>
              <%= form.label :support_contract, "No", :value => "No" %>
              <%= form.radio_button :support_contract, "No", :checked => true %>
            </div>

            <div class="form-group">
              <%= form.label :hosting_environment %>
              <%= form.text_field :hosting_environment, :class => "form-control" %>
            </div>

            <div class="form-group">
              <%= form.label :current_version %>
              <%= form.text_field :current_version, :class => "form-control" %>
            </div>

            <% if current_user.role.to_s == "root_admin" %>
              <div class="form-group">
                <%= form.label "Sensitive Information (Software keys/Passwords)" %>
                <%= form.text_area :sensitive_information, :cols => 30, :rows => 3, :class => "form-control" %>
              </div>
            <% end %>

            <div class="form-group">
              <%= form.label :notes %>
              <%= form.text_area :notes, :cols => 30, :rows => 3, :class => "form-control" %>
            </div>

            <% if current_user.role.to_s == "root_admin" %>
              <div class="form-group">
                <%= form.label :business_value %>
                <%= form.number_field :business_value, :class => "form-control" %>
              </div>
            <% end %>

            <% if current_user.role.to_s != "owner" %>
              <div class="form-group">
                <%= form.label :it_quality, 'IT Quality' %>
                <%= form.number_field :it_quality, :class => "form-control" %>
              </div>
            <% end %>
        <br/>
        <div class="form-group <%= component %>" style= "text-align: center;">
          <%= form.submit nil, class: "btn btn-primary" %>
          <%= link_to 'Cancel', session[:previous], :class => "btn btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>
  <br/>
  <br/>
  <br/>
</div>
