<!-- app/views/software_records/edit.html.erb -->

<h1>Edit Software Record</h1>

  <div class="mb-3">
    <%= form.label :service %>
    <%= form.text_field :service, :class => "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :installed_version, "Installed Version", :class => "form-label" %>
    <%= form.text_area :installed_version, :cols => 30, :rows => 7, :class => "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :proposed_version %>
    <%= form.text_area :proposed_version, :cols => 30, :rows => 7, :class => "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :last_upgrade_date %>
    <%= form.date_field :last_upgrade_date, as: :date, value: form.object.try(:strftime,"%m/%d/%Y"), :class => "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :priority %>
    <%= form.select :priority, options_for_select([['', nil], ['High', 3], ['Medium', 2], ['Low', 1]], selected: form.object.priority), {}, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :upgrade_status %>
    <%= form.text_field :upgrade_status, :class => "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :who %>
    <%= form.text_field :who, :class => "form-control" %>
  </div>

  <div class="mb-3">

    <%= form.label :semester, "Planned Date", :class => "form-label" %>
    <%= form.text_field :semester, :class => "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :upgrade_docs %>
    <%= form.text_field :upgrade_docs, :class => "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :maintenance_note, 'Maintenance Note' %>
    <%= form.text_area :maintenance_note, :cols => 30, :rows => 7, :class => "form-control" %>
  </div>

   <div class="mb-3">
    <%= form.label :upgrade_available %>
    <%= form.check_box :upgrade_available %>
  </div>
    
  <div class="mb-3">
    <%= form.label :vulnerabilities_reported %>
    <%= form.check_box :vulnerabilities_reported%>
  </div>
    
  <div class="mb-3">
    <%= form.label :vulnerabilities_fixed %>
    <%= form.check_box :vulnerabilities_fixed%>
  </div>
    
  <div class="mb-3">
    <%= form.label :bug_fixes %>
    <%= form.check_box :bug_fixes%>
  </div>
    
  <div class="mb-3">
    <%= form.label :new_features %>
    <%= form.check_box :new_features%>
  </div>
    
  <div class="mb-3">
    <%= form.label :breaking_changes %>
    <%= form.check_box :breaking_changes %>
  </div>

  <div class="mb-3">
    <%= form.label :end_of_life %>
    <%= form.check_box :end_of_life %>
  </div>
