<div class="container animated fadeIn" style="opacity: 0.8">
  <div class = "card-detail" style = "background-color: black; width: 100%;"><br/>
    <h1 class= "<%= component %> text-center" style="color: white;"><% if component.eql?("new") %>New Software Record<% else %>Edit Software Record<% end %></h1>
    <div class = "card-body">
        <%= form_with(model: software_record, local: true) do |form| %>
          <% if software_record.errors.any? %>
            <div id="error_explanation">
              <% software_record.errors.full_messages.each do |message| %>
                <%= alert_generator message, "error" %>
              <% end %>
            </div>
          <% end %>
          <div class="form-group">
            <%= form.label :title %>
            <%= form.text_field :title, :class => "form-control" %>
          </div>
          
          <div class="form-group">
            <%= form.label :description %>
            <%= form.text_area :description, :class => "form-control" %>
          </div>

          <div class="form-group">
            <%= form.label :status %>
            <%= form.select(:status, SoftwareRecord::STATUSES, {} , {:class => "form-control"})%>
          </div>      
          
          <div class="form-group">
            <%= form.label :date_implemented %>
            <%= form.date_field :date_implemented, as: :date, value: form.object.try(:strftime,"%m/%d/%Y"), class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= form.label :date_of_upgrade %>
            <%= form.date_field :date_of_upgrade, as: :date, value: form.object.try(:strftime,"%m/%d/%Y"), class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= form.label :created_by %>
            <% if component.eql?("new") %>
              <%= form.text_field :created_by, value: current_user.first_name + " " +current_user.last_name, :class => "form-control regex-createdby" %>
            <% else %>
              <%= form.text_field :created_by, :class => "form-control regex-createdby" %>
            <% end %>
          </div>

          <div class="form-group">
            <%= form.label "Software Type" %>
            <%= form.collection_select(:software_type_id, SoftwareType.all, :id, :title, {}, {:class => "form-control"}) %>
          </div>
          
          <div class="form-group">
            <%= form.label "Vendor" %>
            <%= form.collection_select(:vendor_record_id, VendorRecord.all, :id, :title, {}, {:class => "form-control"}) %>
          </div>

          <div class="form-group">
            <%= form.label :departments %>
            <%= form.text_field :departments, :class => "form-control regex-departments" %>
          </div>

          <div class="form-group">
            <%= form.label :developers %>
            <%= form.text_field :developers, :class => "form-control regex-developers" %>
          </div>

          <div class="form-group">
            <%= form.label :tech_leads %>
            <%= form.text_field :tech_leads, :class => "form-control regex-leads" %>
          </div>

          <div class="form-group">
            <%= form.label :product_owners %>
            <%= form.text_field :product_owners, :class => "form-control regex-owners" %>
          </div>

          <div class="form-group">
            <%= form.label :languages_used %>
            <%= form.text_field :languages_used, :class => "form-control" %>
          </div>

          <div class="form-group">
            <%= form.label :url %>
            <%= form.text_field :url, :class => "form-control" %>
          </div>

          <div class="form-group">
            <%= form.label :user_seats %>
            <%= form.text_field :user_seats, :class => "form-control" %>
          </div>

          <div class="form-group">
            <%= form.label :annual_fees %>
            <%= form.text_field :annual_fees, :class => "form-control" %>
          </div>

          <div class="form-group">
            <%= form.label :support_contract %><br/>
            <%= form.label :support_contract, "Yes", :value => "Yes"  %>
            <%= form.radio_button :support_contract, "Yes" %>
            <%= form.label :support_contract, "No", :value => "No" %>
            <%= form.radio_button :support_contract, "No", :checked => true %>
          </div>

          <div class="form-group">
            <%= form.label :hosting_environment %>
            <%= form.text_field :hosting_environment, :class => "form-control" %>
          </div>

          <div class="form-group">
            <%= form.label :current_version %>
            <%= form.text_field :current_version, :class => "form-control" %>
          </div>

          <div class="form-group">
            <%= form.label :notes %>
            <%= form.text_field :notes, :class => "form-control" %>
          </div>

          <div class="form-group">
            <%= form.label :business_value %>
            <%= number_field_tag :business_value, nil, :class => "form-control" %>
          </div>

          <div class="form-group">
            <%= form.label :it_quality %>
            <%= number_field_tag :it_quality, nil, :class => "form-control" %>
          </div>
        
        <br/>
        <div class="form-group <%= component %>" style= "text-align: center;">
          <%= form.submit nil, class: "btn btn-primary" %>
          <% if component.eql?("new") %>
             <%= link_to 'Back', software_records_path, :class => "btn btn-info" %>
          <% else %>
            <%= link_to 'View', @software_record, :class => "btn btn-success" %>  
            <%= link_to 'Back', software_records_path, :class => "btn btn-warning" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <br/>
  <br/>
  <br/>
</div>