      <dl>
        <dt class="inline-block">Created on: <span style="color: white; font-weight: normal"><%= @software_record.created_at.to_date %></span></dt>

        <% if user_signed_in? && current_user.role.to_s == "root_admin" && !@software_record.created_by.nil? && !@software_record.created_by.to_s.empty? %>
          <dt class="inline-block">Created by: <span style="color: white; font-weight: normal"><%= @software_record.created_by.to_s %></span></dt>
        <% end %>

        <% if !@software_record.date_implemented.nil? && !@software_record.date_implemented.to_s.empty? %>
          <dt class="inline-block">Date Implemented: <span style="color: white; font-weight: normal"><%= @software_record.date_implemented.to_date %></span></dt>
        <% end %>
        
        <% if !@software_record.date_of_upgrade.nil? && !@software_record.date_of_upgrade.to_s.empty? %>
          <dt class="inline-block">Date of Last Upgrade: <span style="color: white; font-weight: normal"><%= @software_record.date_of_upgrade.to_date %></span></dt>
        <% end %>
        
        <% if !@software_record.software_type_id.nil? && !@software_record.software_type_id.to_s.empty? %>
          <dt>Software Type</dt>
          <dd>
            <ul><%= SoftwareType.find(@software_record.software_type_id).title %>
            </ul>
          </dd>
        <% end %>

        <% if !@software_record.vendor_record_id.nil? && !@software_record.vendor_record_id.to_s.empty? %>
          <dt>Vendor</dt>
          <dd>
            <ul><%= VendorRecord.find(@software_record.vendor_record_id).title %>
            </ul>
          </dd>
              
   <% if !@software_record.authentication_type.nil? && !@software_record.authentication_type.to_s.empty? %>
   <dt>Authentication Type</dt>
   <dd>
   <ul><%= @software_record.authentication_type %></ul>
  </dd>
 <% end %>
<% end %>
        <% if @software_record.developers.length != 0 && @software_record.developers[0].to_s != "" %>
          <dt>Developers</dt>
          <dd>
            <% @software_record.developers.each do |developer| %>
              <ul>
                <li><%= developer %></li>
              </ul>
            <% end %>
          </dd>
        <% end %>
        <% if @software_record.tech_leads.length != 0 && @software_record.tech_leads[0].to_s != "" %>
          <dt>Tech Leads</dt>
          <dd>
            <% @software_record.tech_leads.each do |tech_lead| %>
              <ul>
                <li><%= tech_lead %></li>
              </ul>
            <% end %>
          </dd>
        <% end %>

        <% if @software_record.departments.length != 0 && @software_record.departments[0].to_s != "" %>
          <dt>Departments</dt>
          <dd>
            <% @software_record.departments.each do |department| %>
              <ul>
                <li><%= department %></li>
              </ul>
            <% end %>
          </dd>
        <% end %>

        <% if @software_record.product_owners.length != 0 && @software_record.product_owners[0].to_s != "" %>
          <dt>Product Lead/Contact</dt>
          <dd>
            <% @software_record.product_owners.each do |product_owner| %>
              <ul>
                <li><%= product_owner %></li>
              </ul>
            <% end %>
          </dd>
        <% end %>

        <% if @software_record.admin_users.length != 0 && @software_record.admin_users[0].to_s != "" %>
          <dt>Admin Users</dt>
          <dd>
            <% @software_record.admin_users.each do |admin_user| %>
              <ul>
                <li><%= admin_user %></li>
              </ul>
            <% end %>
          </dd>
        <% end %>

        <% if !@software_record.languages_used.nil? && !@software_record.languages_used.to_s.empty? %>
          <dt>Languages Used</dt>
          <dd>
            <ul><%= @software_record.languages_used %></ul>
          </dd>
        <% end %>

        <% if !@software_record.production_url.nil? && !@software_record.production_url.to_s.empty? %>
          <dt>Production URL</dt>
          <dd>
            <ul><a href=<%= generate_path(@software_record.production_url) %> target="_blank" ><%= @software_record.production_url %></a></ul>
          </dd>
        <% end %>

        <% if !@software_record.source_code_url.nil? && !@software_record.source_code_url.to_s.empty? %>
          <dt>Source-Code URL</dt>
          <dd>
            <ul><a href=<%= generate_path(@software_record.source_code_url) %> target="_blank" ><%= @software_record.source_code_url %></a></ul>
          </dd>
        <% end %>

        <% if !@software_record.user_seats.nil? && !@software_record.user_seats.to_s.empty? %>
          <dt>User Seats</dt>
          <dd>
            <ul><%= @software_record.user_seats %></ul>
          </dd>
        <% end %>

        <% if !@software_record.annual_fees.nil? && !@software_record.annual_fees.to_s.empty? %>
          <dt>Annual Fees</dt>
          <dd>
            <ul><%= @software_record.annual_fees %></ul>
          </dd>
        <% end %>

        <% if !@software_record.support_contract.nil? && !@software_record.support_contract.to_s.empty? %>
          <dt class="inline-block">Support Contract: <span style="color: white; font-weight: normal"><%= @software_record.support_contract %></span></dt>
        <% end %>

        <% if !@software_record.hosting_environment.title.nil? && !@software_record.hosting_environment.title.to_s.empty?%>
          <dt>Hosting Environment</dt>
          <dd>
            <ul><%= @software_record.hosting_environment.title %></ul>
          </dd>
        <% end %>

        <% if !@software_record.current_version.nil? && !@software_record.current_version.to_s.empty? %>
          <dt class="inline-block">Current Version: <span style="color: white; font-weight: normal"><%= @software_record.current_version %></span></dt>
        <% end %>

        <% if !@decrypted_sensitive_information.nil? && !@decrypted_sensitive_information.to_s.empty? %>
          <% if current_user.role.to_s == "root_admin" or current_user.role.to_s == "manager" %>
            <dt>Sensitive Information</dt>
            <dd>
              <ul><%= @decrypted_sensitive_information %></ul>
            </dd>
          <% end %>
        <% end %>

        <% if !@software_record.road_map.nil? && !@software_record.road_map.to_s.empty? %>
            <dt>Road Map</dt>
            <dd>
              <ul><%= simple_format(@software_record.road_map) %></ul>
            </dd>
        <% end %>

        <% if !@software_record.notes.nil? && !@software_record.notes.to_s.empty? %>
          <dt>Notes</dt>
          <dd>
            <ul><%= simple_format(@software_record.notes) %></ul>
          </dd>
        <% end %>

        <% if !@software_record.business_value.nil? && !@software_record.business_value.to_s.empty? %>
          <dt class="inline-block">Business Value: <span style="color: white; font-weight: normal"><%= @software_record.business_value %></span></dt>
        <% end %>
        
        <% if !@software_record.it_quality.nil? && !@software_record.it_quality.to_s.empty? %>
          <dt class="inline-block">IT Quality: <span style="color: white; font-weight: normal"><%= @software_record.it_quality %></span></dt>
        <% end %>
      </dl>
