        <dl>
          <% unless @software_record.qa_url.to_s.blank? %>
            <dt class="inline-block">QA URL: <span style="color: white; font-weight: normal"><%= @software_record.qa_url %></span></dt>
          <% end %>
          <% unless @software_record.dev_url.to_s.blank? %>
            <dt class="inline-block">Dev URL: <span style="color: white; font-weight: normal"><%= @software_record.dev_url %></span></dt>
          <% end %>
          <% unless @software_record.prod_url.to_s.blank? %>
            <dt class="inline-block">Production URL: <span style="color: white; font-weight: normal"><%= @software_record.prod_url %></span></dt>
          <% end %>
          <% unless @software_record.production_support_servers.to_s.blank? %>
            <dt class="inline-block">Production support servers:<span style="color: white; font-weight: normal"><%= @software_record.production_support_servers %></span></dt>
          <% end %>
          <% unless @software_record.qa_support_servers.to_s.blank? %>
            <dt class="inline-block">QA support servers:<span style="color: white; font-weight: normal"><%= @software_record.qa_support_servers %></span></dt>
          <% end %>
          <% unless @software_record.dev_support_servers.to_s.blank? %>
            <dt class="inline-block">DEV support servers:<span style="color: white; font-weight: normal"><%= @software_record.dev_support_servers %></span></dt>
          <% end %>
          <% unless @software_record.last_record_change.to_s.blank? %>
            <dt class="inline-block">Last record change: <span style="color: white; font-weight: normal"><%= @software_record.last_record_change %></span></dt>
          <% end %>
          <% unless @software_record.date_cert_expires.to_s.blank? %>
            <dt class="inline-block">Date that the certificate expires: <span style="color: white; font-weight: normal"><%= @software_record.date_cert_expires %></span></dt>
          <% end %>
          <% unless @software_record.monitor_certificates.blank? %>
            <dt class="inline-block">Uses SSL Certificate:<span style="color: white; font-weight: normal"><%= @software_record.monitor_certificates %></span></dt>
          <% end %>
          <% unless @software_record.track_uptime.blank? %>
            <dt class="inline-block">Tracks uptime with Monastic:<span style="color: white; font-weight: normal"><%= @software_record.track_uptime %></span></dt>
          <% end %>
          <% unless @software_record.monitor_health.blank? %>
            <dt class="inline-block">Monitor health:<span style="color: white; font-weight: normal"><%= @software_record.monitor_health %></span></dt>
          <% end %>
          <% unless @software_record.monitor_errors.blank? %>
            <dt class="inline-block">Monitor errors: <span style="color: white; font-weight: normal"><%= @software_record.monitor_errors %></span></dt>
          <% end %>
          <% unless @software_record.themes.blank? %>
            <dt class="inline-block">Contains Themes:<span style="color: white; font-weight: normal"><%= true_false_toggle(@software_record.themes) %></span></dt>
          <% end %>
          <% unless @software_record.modules.blank? %>
            <dt class="inline-block">Contains Modules: <span style="color: white; font-weight: normal"><%= true_false_toggle(@software_record.modules)%></span></dt>
          <% end %>
        </dl>
