<section class="text-center py-5">
  <hr class="mx-auto" style="background-color: black; width: 54%;">
  <div class="container">
    <h1 class="display-4 text-black" style="font-family: Courier New, Lucida Console;">Decommissioned List</h1>
    <em class="text-black" style="font-size: 14px;">Collection of all the software applications that have been decommissioned.</em><br><br>
  </div>
  <hr class="mx-auto" style="background-color: black; width: 54%;">
</section>

<% if @softwarerecords_count != 0 %>
<div class="container fadeInLeft" style="margin-bottom: 10rem;">
  <div class="row">
    <table class="table software-records-table" style="word-break: break-word;">
      <thead>
        <tr>
          <th scope="col" class="text-start ps-4" style="background-color: black ; color: white"><%= sortable "title", "Title" %>
            <% if params[:direction] == "asc" || params[:direction].nil? %>
              <i class="fa fa-caret-up"></i>
            <% else %>
              <i class="fa fa-caret-down"></i>
            <% end %>
          </th>

          <% if current_user.role.to_s == "viewer" %>
            <th scope="col" class="text-start ps-4" style="background-color: black ; color: white">Actions</th>
          <% elsif current_user.role.to_s == "owner" %>
            <th scope="col" colspan="2" class="text-start ps-4" style="background-color: black ; color: white">Actions</th>
          <% else %>
            <th scope="col" colspan="3" class="text-start ps-4" style="background-color: black ; color: white">Actions</th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @software_records.each do |software_record| %>
          <tr>
            <td class="ps-5 text-nowrap" style="background-color: black ; color: white"><%= software_record.title %></td>
            <% if current_user.role.to_s == "viewer" %>
              <td style="background-color: black ; color: white"><%= link_to 'View', software_record, class: "btn btn-success action-btn" %></td>
            <% elsif current_user.role.to_s == "owner" %>
              <td style="background-color: black ; color: white"><%= link_to 'View', software_record, class: "btn btn-success action-btn" %></td>
              <td style="background-color: black ; color: white"><%= link_to 'Edit', edit_software_record_path(software_record), class: "btn btn-primary action-btn", style: "white-space: nowrap;" 
%></td>
            <% else %>
              <td style="background-color: black ; color: white"><%= link_to 'View', software_record, class: "btn btn-success action-btn" %></td>
              <td style="background-color: black ; color: white"><%= link_to 'Edit', edit_software_record_path(software_record), class: "btn btn-primary action-btn", style: "white-space: nowrap;" 
%></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% else %>
<h3 class="text-center">No records found</h3>
<% end %>

