<section class="text-center">
  <br/>
  <hr style="background-color: black; width: 54%;">
  <div class="container">
    <h1 class="display-4 text-center" style="color: black; font-family: Courier New, Lucida Console">Maintenance Priorities</h1>
    <em style="font-size: 14px; color: black">Collection of all the software applications prioritized for upgrade.</em><br/><br/>
  </div>
  <br/>
  <% if current_user.role.to_s == "root_admin" or current_user.role.to_s == "manager" %>
    <p>
      <%= link_to 'Create a new software record', new_software_record_path, class: "mx-auto btn btn-dark" %>
    </p>
  <% end %>

  <form>
    <p class="d-inline" style="font-size: 20px; color: black;">Filter based on:</p>
    <div class="d-inline" style="color: black;">
      <input type="radio" id="stypes" name="filter_by" value="software_types" onclick="handleRadio(this);" class="form-check-input" style="margin-left: 30px;" <% if @params["filter_by"].to_s == 
"software_types" %>checked<% end %>>
      <label class="form-check-label" for="stypes">Software Types</label>

      <input type="radio" id="vrecords" name="filter_by" value="vendor_records" onclick="handleRadio(this);" class="form-check-input" style="margin-left: 30px;" <% if @params["filter_by"].to_s == 
"vendor_records" %>checked<% end %>>
      <label class="form-check-label" for="vrecords">Vendor Records</label>

      <button type="button" class="btn btn-dark clear-filters ms-3" <% if @params["filter_by"].nil? %>style="display: none;" <% else %>style="display: inline;" <% end %> 
onclick="clearFilters()">Clear all filters <i class="fas fa-times"></i></button>
    </div>
    <div class="mt-3"></div>

    <div id="vendor-record-filter" <% if @params["filter_by"].to_s == "vendor_records" %> style="display: block;" <% else %>style="display: none"<% end %>>
      <p class="d-inline" style="font-size: 17px; color: black;">Search/Filter value:</p>
      <select name="vendor_record_filter" class="form-select d-inline w-auto" onchange="this.form.submit()">
        <option value="">None</option>
        <% @vendor_records.each do |vendor| %>
          <option value="<%= vendor.id %>" <% if vendor.id.to_s == @params["vendor_record_filter"].to_s %>selected<% end %>><%= vendor.title %></option>
        <% end %>
      </select>
    </div>

    <div id="software-type-filter" <% if @params["filter_by"].to_s == "software_types" %> style="display: block;" <% else %>style="display: none"<% end %>>
      <p class="d-inline" style="font-size: 17px; color: black;">Search/Filter value:</p>
      <select name="software_type_filter" class="form-select d-inline w-auto" onchange="this.form.submit()">
        <option value="">None</option>
        <% @software_types.each do |type| %>
          <option value="<%= type.id %>" <% if type.id.to_s == @params["software_type_filter"].to_s %>selected<% end %>><%= type.title %></option>
        <% end %>
      </select>
    </div>
  </form>
  <br/>
  <hr style="background-color: black; width: 54%;">
</section>

<% if @softwarerecords_count != 0 %>
<div class="container animated fadeInLeft mb-5">
  <div class="row">
    <table class="table software-records-table">
      <thead>
        <tr>
          <th class="text-start ps-3" style="background-color: black ; color: white"><%= sortable "title", "Software Record" %>
            <% if params[:direction] == "asc" || params[:direction] == nil %>
              <i class="fa fa-caret-up"></i>
            <% else %>
              <i class="fa fa-caret-down"></i>
            <% end %></th>

          <th class="text-start ps-3" style="background-color: black ; color: white"><%= sortable "priority", "Priority Rating" %>
            <% if params[:direction] == "asc" || params[:direction] == nil %>
              <i class="fa fa-caret-up"></i>
            <% else %>
              <i class="fa fa-caret-down"></i>
            <% end %></th>

          <th class="text-start ps-3" style="background-color: black ; color: white"><%= sortable "installed_version", "Installed Version" %>
            <% if params[:direction] == "asc" || params[:direction] == nil %>
              <i class="fa fa-caret-up"></i>
            <% else %>
              <i class="fa fa-caret-down"></i>
            <% end %></th>

          <th class="text-start ps-3" style="background-color: black ; color: white"><%= sortable "proposed_version", "Proposed Version" %>
            <% if params[:direction] == "asc" || params[:direction] == nil %>
              <i class="fa fa-caret-up"></i>
            <% else %>
              <i class="fa fa-caret-down"></i>
            <% end %></th>

          <th class="text-start ps-3" style="background-color: black ; color: white"><%= sortable "last_upgrade_date", "Last Upgrade Date" %>
            <% if params[:direction] == "asc" || params[:direction] == nil %>
              <i class="fa fa-caret-up"></i>
            <% else %>
              <i class="fa fa-caret-down"></i>
            <% end %></th>

          <th class="text-start ps-3" style="background-color: black ; color: white"><%= sortable "date_of_upgrade", "Next Upgrade Date" %>
            <% if params[:direction] == "asc" || params[:direction] == nil %>
              <i class="fa fa-caret-up"></i>
            <% else %>
              <i class="fa fa-caret-down"></i>
            <% end %></th>

          <% if current_user.role.to_s == "viewer" %>
            <th class="text-start ps-3" style="background-color: black ; color: white">Actions</th>
          <% elsif current_user.role.to_s == "owner" %>
            <th colspan="2" class="text-start ps-3" style="background-color: black ; color: white">Actions</th>
          <% else %>
            <th colspan="3" class="text-start ps-3" style="background-color: black ; color: white">Actions</th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @software_records.each do |software_record| %>
          <tr>
            <td class="ps-5" style="background-color: black ; color: white"><%= software_record.title %></td>
            <td style="background-color: black ; color: white"><%= software_record.priority %></td>
            <td style="background-color: black ; color: white"><%= software_record.installed_version %></td>
            <td style="background-color: black ; color: white"><%= software_record.proposed_version %></td>
            <td style="background-color: black ; color: white"><%= software_record.last_upgrade_date %></td>
            <td style="background-color: black ; color: white"><%= software_record.date_of_upgrade %></td>
            <% if current_user.role.to_s == "viewer" %>
              <td style="background-color: black ; color: white"><%= link_to 'View', software_record , class: "btn btn-success" %></td>
            <% elsif current_user.role.to_s == "owner" %>
              <td style="background-color: black ; color: white"><%= link_to 'View', software_record , class: "btn btn-success" %></td>
              <td style="background-color: black ; color: white"><%= link_to 'Edit', edit_software_record_path(software_record), class: "btn btn-primary" %></td>
            <% else %>
              <td style="background-color: black ; color: white"><%= link_to 'View', software_record , class: "btn btn-success" %></td>
              <td style="background-color: black ; color: white"><%= link_to 'Edit', edit_software_record_path(software_record), class: "btn btn-primary" %></td>
              <td style="background-color: black ; color: white"><%= link_to 'Delete', software_record, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% else %>
<h3 class="text-center">No records found</h3>
<% end %>

