<div class="container animated fadeIn" style="opacity: 0.9;">
  <div class="card" style="width: 90%; margin-top: 40px; height: auto; background-color: black; color: white; margin-bottom: 10rem">
    <div class="card-header text-center">
      <h1 style="color: white; font-family: Courier New, Lucida, Console"><%= @software_record.title %></h1>
      <blockquote class="blockquote text-center">
        <div class="blockquote-footer"><cite title="Source Title"><%= @software_record.description %></cite></div>
      </blockquote>
      <p class="text-center"><%= pills @software_record.status.title %></p>
    </div>
    <div class="card-body" style="padding-top: 1px; ">
      <div class="text-center">
          <% if user_signed_in? %>
            <% if current_user.role.to_s == "owner" or current_user.role.to_s == "root_admin" or current_user.role.to_s == "manager" %>
              <%= link_to 'Edit', edit_software_record_path(@software_record), :class => "btn btn-warning nav-links" %>
            <% end %>
          <% end %>
        <%= link_to 'Back', session[:previous], :class => "btn btn-primary nav-links ml-4"%>
      </div>
      <br/>

      <ul class="nav nav-tabs" id="SoftwareRecordsTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="home"
            aria-selected="true">General</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="server-environment-tab" data-toggle="tab" href="#server-environment" role="tab" aria-controls="profile"
            aria-selected="false">Server Environment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="change-management-tab" data-toggle="tab" href="#change-management" role="tab" aria-controls="contact"
            aria-selected="false">Change Management</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="upgrade-history-tab" data-toggle="tab" href="#upgrade-history" role="tab" aria-controls="contact"
            aria-selected="false">Upgrade History</a>
        </li>
      </ul>

      <div class="tab-content" id="SoftwareRecordsTabContent">
        <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="home-tab">
        <%= render 'general' %>
    </div>

      <div class="tab-pane fade" id="server-environment" role="tabpanel">
        <%= render 'server_environment' %>
      </div>
      <div class="tab-pane fade" id="change-management" role="tabpanel">
        <%= render 'change_management' %>
      </div>
      <div class="tab-pane fade" id="upgrade-history" role="tabpanel">
        <%= render 'upgrade_history' %>
      </div>
      </div>
    </div>
  </div>
</div>
