<div class="container animated bounceIn" style="opacity: 0.9;">
  <div class="card" style="width: 90%; margin-top: 40px; height: auto; background-color: black; color: white; margin-bottom: 10rem">
    <div class="card-header text-center">
      <h1 style="color: white; font-family: Courier New, Lucida, Console"><%= @software_record.title %></h1>
      <blockquote class="blockquote text-center">
        <div class="blockquote-footer"><cite title="Source Title"><%= @software_record.description %></cite></div>
      </blockquote>
      <hr style="background-color: white">
    </div>
    <div class="card-body" style="padding-top: 1px; ">
      <p class="text-center"><%= pills @software_record.status %></p>
      <br/>
      <dl>
        <dt class="inline-block">Created on: <span style="color: white; font-weight: normal"><%= @software_record.created_at.to_date %></span></dt>

        <% if !@software_record.created_by.nil? && !@software_record.created_by.to_s.empty? %>
          <dt class="inline-block">Created by: <span style="color: white; font-weight: normal"><%= @software_record.created_by.to_s %></span></dt>
        <% end %>

        <% if !@software_record.date_implemented.nil? && !@software_record.date_implemented.to_s.empty? %>
          <dt class="inline-block">Date Implemented: <span style="color: white; font-weight: normal"><%= @software_record.date_implemented.to_date %></span></dt>
        <% end %>
        
        <% if !@software_record.date_of_upgrade.nil? && !@software_record.date_of_upgrade.to_s.empty? %>
          <dt class="inline-block">Date of Upgrade: <span style="color: white; font-weight: normal"><%= @software_record.date_of_upgrade.to_date %></span></dt>
        <% end %>

        <% if !@software_record.tentative_date_implemented.nil? && !@software_record.tentative_date_implemented.to_s.empty? %>
          <dt class="inline-block">Tentative Date of Implementation: <span style="color: white; font-weight: normal"><%= @software_record.tentative_date_implemented.to_date %></span></dt>
        <% end %>
        
        <% if !@software_record.software_type_id.nil? && !@software_record.software_type_id.to_s.empty? %>
          <dt>Software Type</dt>
          <dd>
            <ul><%= SoftwareType.find(@software_record.software_type_id).title %>
            </ul>
          </dd>
        <% end %>

        <% if !@software_record.vendor_record_id.nil? && !@software_record.vendor_record_id.to_s.empty? %>
          <dt>Vendor</dt>
          <dd>
            <ul><%= VendorRecord.find(@software_record.vendor_record_id).title %>
            </ul>
          </dd>
        <% end %>

        <% if !@software_record.developers.nil? && !@software_record.developers.to_s.empty? %>
          <dt>Developers</dt>
          <dd>
            <ul><%= @software_record.developers %></ul>
          </dd>
        <% end %>

        <% if !@software_record.tech_leads.nil? && !@software_record.tech_leads.to_s.empty? %>
          <dt>Tech Leads</dt>
          <dd>
            <ul><%= @software_record.tech_leads %></ul>
          </dd>
        <% end %>

        <% if !@software_record.departments.nil? && !@software_record.departments.to_s.empty? %>
          <dt>Departments</dt>
          <dd>
            <ul><%= @software_record.departments %></ul>
          </dd>
        <% end %>

        <% if !@software_record.product_owners.nil? && !@software_record.product_owners.to_s.empty? %>
          <dt>Product Owners</dt>
          <dd>
            <ul><%= @software_record.product_owners %></ul>
          </dd>
        <% end %>

        <% if !@software_record.languages_used.nil? && !@software_record.languages_used.to_s.empty? %>
          <dt>Languages Used</dt>
          <dd>
            <ul><%= @software_record.languages_used %></ul>
          </dd>
        <% end %>

        <% if !@software_record.url.nil? && !@software_record.url.to_s.empty? %>
          <dt>URL</dt>
          <dd>
            <ul><%= @software_record.url %></ul>
          </dd>
        <% end %>

        <% if !@software_record.user_seats.nil? && !@software_record.user_seats.to_s.empty? %>
          <dt>User Seats</dt>
          <dd>
            <ul><%= @software_record.user_seats %></ul>
          </dd>
        <% end %>

        <% if !@software_record.annual_fees.nil? && !@software_record.annual_fees.to_s.empty? %>
          <dt>Annual Fees</dt>
          <dd>
            <ul><%= @software_record.annual_fees %></ul>
          </dd>
        <% end %>

        <% if !@software_record.support_contract.nil? && !@software_record.support_contract.to_s.empty? %>
          <dt class="inline-block">Support Contract: <span style="color: white; font-weight: normal"><%= @software_record.support_contract %></span></dt>
        <% end %>

        <% if !@software_record.hosting_environment.nil? && !@software_record.hosting_environment.to_s.empty?%>
          <dt>Hosting Environment</dt>
          <dd>
            <ul><%= @software_record.hosting_environment %></ul>
          </dd>
        <% end %>

        <% if !@software_record.current_version.nil? && !@software_record.current_version.to_s.empty? %>
          <dt class="inline-block">Current Version: <span style="color: white; font-weight: normal"><%= @software_record.current_version %></span></dt>
        <% end %>

        <% if !@software_record.sensitive_information.nil? && !@software_record.sensitive_information.to_s.empty? %>
          <% if current_user.role.to_s == "root_admin" or current_user.role.to_s == "manager" %>
            <dt>Sensitive Information</dt>
            <dd>
              <ul><%= @software_record.sensitive_information %></ul>
            </dd>
          <% end %>
        <% end %>

        <% if !@software_record.notes.nil? && !@software_record.notes.to_s.empty? %>
          <dt>Notes</dt>
          <dd>
            <ul><%= @software_record.notes %></ul>
          </dd>
        <% end %>

        <% if !@software_record.business_value.nil? && !@software_record.business_value.to_s.empty? %>
          <dt class="inline-block">Business Value: <span style="color: white; font-weight: normal"><%= @software_record.business_value %></span></dt>
        <% end %>
        
        <% if !@software_record.it_quality.nil? && !@software_record.it_quality.to_s.empty? %>
          <dt class="inline-block">IT Quality: <span style="color: white; font-weight: normal"><%= @software_record.it_quality %></span></dt>
        <% end %>
      </dl>
      <div class="text-center">
        <% if user_signed_in? %>
          <% if current_user.role.to_s == "owner" or current_user.role.to_s == "root_admin" or current_user.role.to_s == "manager" %>
            <%= link_to 'Edit', edit_software_record_path(@software_record), :class => "btn btn-warning nav-links" %>
          <% end %>
        <% end %>
      <%= link_to 'Back', software_records_path, :class => "btn btn-primary nav-links"%>
    </div>
    </div>
  </div>
</div>