
<div class="container animated fadeIn" style="display:flex; justify-content: center; align-items: center; height: 85vh; opacity: 0.9">
  <div class = "card" style = "background-color: black; width: 100%;"><br/>
    <h1 class= "<%= component %> text-center" style="color: white;"><% if component.eql?("new") %>New Software Type<% else %>Edit Software Type<% end %></h1>
    <div class = "card-body">
        <%= form_with(model: software_type, local: true) do |form| %>
          <% if software_type.errors.any? %>
            <div id="error_explanation">
              <% software_type.errors.full_messages.each do |message| %>
                <%= alert_generator message, "error" %>
              <% end %>
            </div>
          <% end %>
        <div class="mb-3">
          <%= form.label :title, 'Software Type' %>
          <%= form.text_field :title, :class => "form-control" %>
        </div>
        
        <div class="mb-3">
          <%= form.label :description %>
          <%= form.text_area :description, :class => "form-control" %>
        </div>
        
        <div class="mb-3 <%= component %>" style= "text-align: center;">
          <%= form.submit 'Save', class: "btn btn-primary" %>
          <% if component.to_s == "new" %>
            <%= link_to 'Cancel', session[:previous], :class => "btn btn-danger" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
