<!DOCTYPE html>
<html>
  <head>
    <title><%= $page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type => 'image/x-icon' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" integrity="sha384-REHJTs1r2ErKBuJB0fCK99gCYsVjwxHrSU0N7I1zl9vZbggVJXRMsv/sLlOAGb4M" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
  <%= render 'shared/dashboard_menu' %>
  <div id="main">
    <%= render 'shared/dashboard_header' %>
    <% if current_user %><div id="pillSideNav"><span id="dashboard-open" onclick="openNav()" style="background-color: #E00122; color: white;">Menu &#9776;</span></div><% end %>
    <%= yield %>
    <%= alerts %>
    <% if @controller == "users" %>
      <% %> 
    <% elsif @controller!=("front") %>
      <%= render 'shared/application_footer' %>
    <% end %>
  </div>
  </body>

  <script>
  function openNav() {
    document.getElementById("mySidenav").style.visibility = "visible";
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
  }

  function closeNav() {
    document.getElementById("mySidenav").style.visibility = "hidden";
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
  }

  var dropdown = document.getElementsByClassName("dropdown-btn");
  var i;
  for (i = 0; i < dropdown.length; i++) {
    dropdown[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var dropdownContent = this.nextElementSibling;
    if (dropdownContent.style.display === "block") {
    dropdownContent.style.display = "none";
    } else {
    dropdownContent.style.display = "block";
    }
    });
  }

  var createdbyfield = document.getElementsByClassName('regex-createdby')[0];
        createdbyfield.onkeyup = function() {
            createdbyfield.value = createdbyfield.value.replace(/[^a-zA-Z0-9 ]/, '');
        }
  var developerfield = document.getElementsByClassName('regex-developers')[0];
        developerfield.onkeyup = function() {
            developerfield.value = developerfield.value.replace(/[^a-zA-Z0-9 ]/, '');
        }
  var departmentfield = document.getElementsByClassName('regex-departments')[0];
        departmentfield.onkeyup = function() {
            departmentfield.value = departmentfield.value.replace(/[^a-zA-Z0-9 ]/, '');
        }
  var leadsfield = document.getElementsByClassName('regex-leads')[0];
        leadsfield.onkeyup = function() {
            leadsfield.value = leadsfield.value.replace(/[^a-zA-Z0-9 ]/, '');
        }
  var ownersfield = document.getElementsByClassName('regex-owners')[0];
        ownersfield.onkeyup = function() {
            ownersfield.value = ownersfield.value.replace(/[^a-zA-Z0-9 ]/, '');
        }
</script>
  
</html>
