<!DOCTYPE html>
<html>
  <head>
    <title>Application Portfolio | Software Records</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type => 'image/x-icon' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'software_records', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    <%= render 'shared/dashboard_header' %>
    <%= yield %>
    <%= alerts %>
    <%= render 'shared/dashboard_footer' %>
  </body>
  
</html>
